@charset "UTF-8";
.datePicherDisabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #EEEEEE
}

.anchorDisabled {
    pointer-events: none;
    cursor: not-allowed;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}