@charset "UTF-8";
.datePicherDisabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #EEEEEE
}

.anchorDisabled {
    pointer-events: none;
    cursor: not-allowed;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.btnToggleBlock {
    width: 135px;
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}


/* problema background color e bordo in ui-select */

.ui-select {
    border: 1px solid rgb(229, 230, 231);
    background-color: #EEEEEE;
}


/* problema select nell'ordinamento tabelle: appaiono pulsanti di colore gray: li nascondo*/

table.dataTable thead .sorting:after {
    font-size: 0;
}

.scroll-x {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.show-fumetti {
    position: absolute;
    left: 70px;
    top: 0px;
    background-color: #2f4050;
    padding: 18px 20px 16px 25px;
    font-size: 12px;
    white-space: nowrap;
}

.collapse.inCustom {
    display: block;
    visibility: visible;
}

li.activeCustom {
    background: #293846;
}

