<div ng-form name="verbaleForm" ng-submit="submitForm($ctrl.verbaleForm.$valid)" novalidate>
    <div class="ibox-content">
        <h3 class="">{{'PROTOCOLLO_AZIENDA_SANITARIA' | translate }}</h3>
        <div class="row">
            <div class="col-md-6 form-group">
                <label>{{ 'NUMERO_PROTOCOLLO' | translate }} (*)</label>
                <input name="numeroProtocollo" ng-model="$ctrl.verbale.NumeroProtocollo" type="text" class="form-control intero"
                    required>
                <p ng-show="verbaleForm.numeroProtocollo.$invalid && !verbaleForm.numeroProtocollo.$pristine" class="help-block">{{ 'CAMPO_OBBLIGATORIO' | translate }}.</p>

            </div>

            <div class="col-md-6 form-group" id="data_1">
                <label>{{ 'DATA' | translate }} (*)</label>
                <div class="input-group date">
                    <input name="dataProtocollo" ng-model="$ctrl.verbale.DataProtocollo" type="text" class="form-control js-date"
                        placeholder="{{ 'DDMMYYYY' | translate }}" required>
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                    <p ng-show="verbaleForm.dataProtocollo.$invalid && !verbaleForm.dataProtocollo.$pristine" class="help-block">{{ 'CAMPO_OBBLIGATORIO' | translate }}.</p>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <label>{{ 'PERCENTUALE_DI_INVALIDITA' | translate }} (*)</label>
                <input name="percentualeDiInvalidita" ng-model="$ctrl.verbale.PercentualeDiInvalidita" type="text"
                    class="form-control percentuale" required>
                <p ng-show="verbaleForm.percentualeDiInvalidita.$invalid && !verbaleForm.percentualeDiInvalidita.$pristine"
                    class="help-block">{{ 'CAMPO_OBBLIGATORIO' | translate }}.</p>
            </div>

            <div class="col-md-6 form-group">
                <div>
                    <label>{{ 'INDENNITA_DI_ACCOMPAGNAMENTO' | translate }}</label>
                </div>
                <div>
                    <div class="inline-block">
                        <div class="checkbox">
                            <label>
                                <input icheck ng-model="$ctrl.verbale.IndennitaDiAccompagnamento" type="radio" value="Si"
                                    name="indennitaDiAccompagnamento" ng-checked="$ctrl.verbale.IndennitaDiAccompagnamento == 'Si'">
                                <i></i>
                                {{ 'SI' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="inline-block m-l-lg">
                        <div class="checkbox">
                            <label>
                                <input icheck ng-model="$ctrl.verbale.IndennitaDiAccompagnamento" type="radio" value="No"
                                    name="indennitaDiAccompagnamento" ng-checked="$ctrl.verbale.IndennitaDiAccompagnamento == 'No'">
                                <i></i>
                                {{ 'NO' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div>
                    <label>{{ 'PATOLOGIA_UDITIVA' | translate }}</label>
                </div>
                <div>
                    <div class="inline-block">
                        <div class="checkbox">
                            <label>
                                <input icheck ng-model="$ctrl.verbale.PatologiaUditiva" type="radio" name="patologiaUditiva"
                                    ng-checked="$ctrl.verbale.PatologiaUditiva == 'Si'">
                                <i></i>
                                {{ 'SI' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="inline-block m-l-lg">
                        <div class="checkbox">
                            <label>
                                <input icheck ng-model="$ctrl.verbale.PatologiaUditiva" type="radio" name="patologiaUditiva"
                                    ng-checked="$ctrl.verbale.PatologiaUditiva == 'No'">
                                <i></i>
                                {{ 'NO' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div>
                    <label>{{ 'RIDUZIONE_DEL_VISUS' | translate }}</label>
                </div>
                <div>
                    <div class="inline-block">
                        <div class="checkbox">
                            <label>
                                <input icheck ng-model="$ctrl.verbale.RiduzioneDelVisus" type="radio" name="RiduzioneDelVisus"
                                    value="Si" ng-checked="$ctrl.verbale.RiduzioneDelVisus == 'Si'">
                                <i></i>
                                {{ 'SI' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="inline-block m-l-lg">
                        <div class="checkbox">
                            <label>
                                <input icheck ng-model="$ctrl.verbale.RiduzioneDelVisus" type="radio" name="RiduzioneDelVisus"
                                    value="No" ng-checked="$ctrl.verbale.RiduzioneDelVisus == 'No'">
                                <i></i>
                                {{ 'NO' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 form-group">
                <label>{{ 'NOTE_VERBALE' | translate }}</label>
                <textarea name="" id="" ng-model="$ctrl.verbale.Note" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.submit" class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.modalSave('Verbale salvato!','Il verbale è stato correttamente salvato.')">{{
            'SALVA' | translate }}</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.modalClose()">{{ 'CHIUDI' | translate }}</button>
    </div>
</div>