<div class="row">
        <div class="col-md-4 form-group">
                <label>Nome</label>
                <input type="text" readonly class="form-control" value="{{datiAssistito.Nome}}">
        </div>
        <div class="col-md-4 form-group">
                <label>Cognome</label>
                <input type="text" readonly class="form-control" value="{{datiAssistito.Cognome}}">
        </div>
        <div class="col-md-4 form-group">
                <label>Cognome acquisito</label>
                <input type="text" readonly class="form-control" value="{{datiAssistito.CognomeAcquisito}}">
        </div>
        <div class="col-md-4 form-group">
                <label>Codice Fiscale</label>
                <input type="text" readonly class="form-control" value="{{datiAssistito.CodiceFiscale}}">
        </div>
        <div class="col-md-4 form-group">
                <label>Sesso</label>
                <input type="text" readonly class="form-control" value="{{datiAssistito.Sesso}}">
        </div>
        <div class="col-md-2 form-group">
                <label>Data di nascita</label>
                <input type="text" readonly class="form-control" value="{{datiAssistito.DataDiNascita}}">
        </div>
        <div class="col-md-2 form-group">
                <label>Luogo di nascita</label>
                <input type="text" readonly class="form-control" value="Bolzano">
        </div>
        <div class="col-md-2 form-group">
                <label>Cittadinanza</label>
                <input type="text" readonly class="form-control" value="{{datiAssistito.Cittadinanza}}">
        </div>
        <div class="col-md-2 form-group">
                <label>Extracomunitario</label>
                <input type="text" readonly class="form-control" value="{{datiAssistito.Extracomunitario}}">
        </div>
        <div class="col-md-4 form-group">
                <label>Permesso di soggiorno</label>
                <input type="text" readonly class="form-control" value="PS10222-08">
        </div>
        <div class="col-md-4 form-group">
                <label>Data decesso</label>
                <input type="text" readonly class="form-control" value="{{datiAssistito.DataDiDecesso}}">
        </div>
        <div class="col-md-4 form-group">
                <label>Residenza</label>
                <input type="text" readonly class="form-control" value="{{datiAssistito.Residenza}}">
        </div>
        <div class="col-md-4 form-group">
                <label>Domicilio</label>
                <input type="text" readonly class="form-control" value="{{datiAssistito.Domicilio}}">
        </div>
        <div class="col-md-4 form-group">
                <label>Altri indirizzi</label>
                <input type="text" readonly class="form-control" value="{{datiAssistito.AltriIndirizzi}}">
        </div>
</div>