<!-- DATI-EVIDENZA -->
<div class="row">

    <div class="col-md-4 form-group">
        <label>{{ 'DATA_DECORRENZA' | translate }}</label>
        <div ng-class="{datePicherDisabled : !editEvidenza}" class="input-group date">
            <input type="text" ng-readonly="!editEvidenza" class="form-control js-date" ng-model="evidenza.DataDecorrenza">
            <span ng-class="{datePicherDisabled : !editEvidenza}" class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div class="col-md-4 form-group">
        <label>{{ 'TIPO_EVIDENZA' | translate }}</label>
        <ui-select name="tipoEvidenza" ng-model="evidenza.TipoEvidenza" ng-disabled="!editEvidenza"
            title="Seleziona un elemento nell'elenco">
            <ui-select-match placeholder="Seleziona tipo evidenza">{{$select.selected.descrizione}}</ui-select-match>
            <ui-select-choices repeat="item in tipoEvidenza | filter: $select.search">
                <span ng-bind-html="item.descrizione | highlight: $select.search"></span>
                <small ng-bind-html="item.code | highlight: $select.search"></small>
            </ui-select-choices>
        </ui-select>

        <!-- <input type="text" class="form-control" ng-model="evidenza.TipoEvidenza" ng-readonly="!editEvidenza"> -->
    </div>
    <div class="col-md-4 form-group">
        <label>{{ 'NUMERO_POSIZIONE' | translate }}</label>
        <input type="text" class="form-control" ng-model="evidenza.Posizione" ng-readonly="!editEvidenza">
    </div>
    <div class="col-md-12 form-group">
        <label>{{ 'DESCRIZIONE' | translate }}</label>
        <input type="text" class="form-control" ng-model="evidenza.Descrizione" ng-readonly="!editEvidenza">
    </div>

    <div class="col-md-4 form-group">
        <label>{{ 'PRESTAZIONE_DI_RIFERIMENTO' | translate }}</label>
        <input type="text" class="form-control intero" ng-model="evidenza.PrestazioneDiRiferimento" ng-readonly="!editEvidenza">
    </div>
    <div class="col-md-4 form-group">
        <label>{{ 'DATA_DOMANDA_DI_RIFERIMENTO' | translate }}</label>
        <div ng-class="{datePicherDisabled : !editEvidenza}" class="input-group date">
            <input type="text" ng-readonly="!editEvidenza" class="form-control js-date" ng-model="evidenza.DataDomandaDiRiferimento"
                ng-readonly="!editEvidenza">
            <span ng-class="{datePicherDisabled : !editEvidenza}" class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div class="col-md-4 form-group">
        <label>{{ 'DATA_SCADENZA_EVIDENZA' | translate }}</label>
        <div ng-class="{datePicherDisabled : !editEvidenza}" class="input-group date">
            <input type="text" ng-readonly="!editEvidenza" class="form-control js-date" ng-model="evidenza.DataScadenza">
            <span ng-class="{datePicherDisabled : !editEvidenza}" class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div class="col-md-4 form-group">
        <label>{{ 'DATA_CHIUSURA_EVIDENZA' | translate }}</label>
        <div ng-class="{datePicherDisabled : !editEvidenza}" class="input-group date">
            <input type="text" ng-readonly="!editEvidenza" class="form-control js-date" ng-model="evidenza.DataChiusura">
            <span ng-class="{datePicherDisabled : !editEvidenza}" class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>


    <div class="col-md-4 form-group">
        <label>{{ 'NOTE_DI_CHIUSURA' | translate }}</label>
        <input type="text" class="form-control anno" ng-model="evidenza.NoteDiChiusura" ng-readonly="!editEvidenza">
    </div>

    <div class="col-md-4 form-group">
        <label>{{ 'UTENTE' | translate }}</label>
        <input type="text" class="form-control anno" ng-model="evidenza.Utente" ng-readonly="!editEvidenza">
    </div>
</div>
<div class="row">

    <div class="col-md-4 form-group">
        <label>{{ "LETTERA_INVIATA" | translate}}</label>

        <div class="row">
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        <input icheck ng-model="evidenza.LetteraInviata" type="radio" name="extracomunitario"
                            ng-disabled="!editEvidenza" value="Si" ng-checked="datiAssistito.Extracomunitario == 'Si'">
                        <i></i>
                        {{ "SI" | translate}}
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        <input icheck ng-model="evidenza.LetteraInviata" type="radio" name="extracomunitario"
                            ng-disabled="!editEvidenza" value="No" ng-checked="datiAssistito.Extracomunitario=='No'">
                        <i></i>
                        {{ "NO" | translate}}
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-8 form-group">
        <label>{{ 'NOTE' | translate }}</label>
        <input type="text" class="form-control anno" ng-model="evidenza.Note" ng-readonly="!editEvidenza">
    </div>
</div>

<style>
    .datepicker {
        z-index: 999999999999 !important;
    }
</style>


<script>
    // Custom scripts
    $(document).ready(function () {
        setTimeout(function () {
            $('.input-group.date').datepicker({
                todayBtn: "linked",
                format: 'dd/mm/yyyy',
                keyboardNavigation: false,
                forceParse: true,
                calendarWeeks: true,
                autoclose: true,
                language: window.language
                //orientation: 'bottom left'
            });
        }, 500);

    })
</script>