<div>
    <table class="table table-bordered table-striped dataTables-paged">
        <thead>
            <tr>
                <th class="col-md-1">Data</th>
                <th class="col-md-4">Motivo</th>
                <th class="col-md-1">Scadenza</th>
                <th class="col-md-1">Fine</th>
                <th class="col-md-4">Note</th>
                <th class="col-md-1"> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">01/01/2020</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                <td class="text-center">01/01/2020</td>
                <td class="text-center">01/01/2020</td>
                <td>Suspendisse id nulla sit amet ipsum suscipit consequat eu ut ex.</td>
                <td class="text-center"><a title="modifica">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a></td>
            </tr>
            <tr>
                <td class="text-center">01/01/2020</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td class="text-center">01/01/2020</td>
                <td class="text-center">01/01/2020</td>
                <td>Suspendisse id nulla sit amet ipsum suscipit consequat eu ut ex.</td>
                <td class="text-center"><a title="modifica">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a></td>
            </tr>
            <tr>
                <td class="text-center">01/01/2020</td>
                <td>Fusce sodales porta suscipit.</td>
                <td class="text-center">01/01/2020</td>
                <td class="text-center">01/01/2020</td>
                <td>Phasellus pulvinar tellus sed metus molestie.</td>
                <td class="text-center"><a title="modifica">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a></td>
            </tr>

        </tbody>
    </table>
    <div class="text-right  m-b-sm">
        <button ng-click="creaSospensione()" class="btn btn-primary btn-sm"> Crea sospensione </button>
    </div>
</div>