<script type="text/html" id="secondaryTable2">
    <h1> SECONDARY-TABLE-2 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
   <!-- 
    <table class="table table-striped table-bordered dataTables-expand secondary-table">
        <thead>
            <tr>
                <th></th>
                <th>Mese</th>
                <th colspan="2">Importo mensile spettante</th>
                <th colspan="2">Importo mensile da recuperare</th>
                <th colspan="2">Importo mensile tredicesima maturata</th>
                <th colspan="2">Importo mensile conguaglio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>DICEMBRE</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>NOVEMBRE</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>OTTOBRE</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>SETTEMBRE</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>AGOSTO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>LUGLIO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>GIUGNO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>MAGGIO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>APRILE</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>MARZO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>FEBBRAIO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>GENNAIO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
        </tbody>
    </table> -->

</script>
<script type="text/html" id="thirdTable">
    <h1> THIRD-TABLE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
    <!-- 
 
    <div class="row">
        <div class="col-md-4 m-t-sm m-b-sm">
            <div class="m-l-sm">
                Simulazione importo mensile spettante eredi: 21.450,00 <br/>
                Liquidato ad eredi: si/no/in parte
            </div>
        </div>
        <div class="col-md-4 m-t-sm m-b-sm">
            <div>
                Importo tredicesima eredi: 2.543,00 <br/>
                Liquidato ad eredi: si/no/in parte
            </div>
        </div>
        <div class="col-md-4 m-t-sm m-b-sm">
            <div class="m-r-sm">
                Importo mensile conguaglio ad eredi: 2.543,00 <br/>
                Liquidato ad eredi: si/no/in parte
            </div>
        </div>
    </div>-->
</script>
<div>
    <div>
        <h3>{{ 'TOTALE_DELLE_PRESTAZIONI_LIQUIDATE_PER_ANNO' | translate}}</h3>

        <div class="row">

            <div class="col-md-6">
                <table class="table table-bordered table-striped dataTables-expand3" datatable="ng" dt-options="dtOptionsTabPrestazioniLiquidate"
                    dt-column-defs="dtColumnTabPrestazioniLiquidate" dt-instance="vm.dtInstance">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'ANNO' | translate}}</th>
                            <th>{{ 'TOTALE_PRESTAZIONI_LIQUIDATE' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in totaleDellePrestazioniLiquidatePerAnno">

                            <td class="details-control text-center pointer">
                                <a href="javascript:;" ng-click="detailInfoPrestazioniLiquidate(item.Dettagli, $event, '/views/partials/prestazioni/riepilogoTotaliPrestazioni.html')"
                                    title="Click per espandere">
                                    <i class="fa fa-chevron-down" aria-hidden="true" style="color:gray"></i>
                                </a>
                            </td>
                            <td>
                                {{item.Anno}}
                            </td>
                            <td class="text-right">{{item.TotalePrestazioniLiquidate | currency : "€" }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
    <div>
        <h3>{{ 'ELENCO_DELLE_PRESTAZIONI' | translate}}</h3>
        <div ng-repeat="item in elencoPrestazioni">
            <prestazioni-component index="{{$index}}" prestazione="item"></prestazioni-component>
        </div>

    </div>
</div>

<div class="text-right">
    <button class="btn btn-primary btn-sm">{{ 'RICALCOLA_PRESTAZIONI' | translate }}</button>
</div>

<div ng-include="'views/partials/_visualizza_liquidazione.html'"></div>

<script>

    var table = $('.dataTables-expand').DataTable({
        "columns": [
            {
                "className": 'details-control text-center pointer',
                "orderable": false,
                "data": null
                ,
                "defaultContent": '<i class="fa fa-chevron-down" aria-hidden="true"></i>'
            },
            null,
            null,
            null
        ],
        order: [[1, 'desc']],
        searching: false,
        responsive: true,
        lengthChange: false
    });


    var tabellaInvalidiTotali = $('#tabellaInvalidiTotali').DataTable();
    var tabellaInvalidiParziali = $('#tabellaInvalidiParziali').DataTable();

    var tabellaTotalePrestazioni = $('#tabellaTotalePrestazioni').DataTable({
        "columns": [
            {
                // "className": 'details-control text-center pointer',
                // "orderable": false,
                // "data": null
                //,
                // "defaultContent": '<i class="fa fa-chevron-down" aria-hidden="true"></i>'
            },
            null,
            null
        ],
        order: [[1, 'desc']],
        searching: false,
        responsive: true,
        lengthChange: false
    });
    // Add event listener for opening and closing details
    function expandTable(tableId, tableRoot, tr) {
        var row = tableRoot.row(tr);
        if (row.length < 1) {
            $('#' + tableId + ' table').each(function (index) {
                var table = $(this).DataTable();
                if (table.row(tr).length > 0) {
                    row = table.row(tr);
                }
            });

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child($('#thirdTable').html()).show();
                tr.addClass('shown');
            }
        }
        else {
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                var id = '#' + tr[0].attributes["table-id"].value;
                row.child($(id).html()).show();
                tr.addClass('shown');
            }
        }
    }

    $('.dataTables-expand#tabellaInvalidiTotali').on('click', 'td.details-control', function () {
        // alert(".dataTables-expand#tabellaInvalidiTotali")
        var tr = $(this).closest('tr');
        expandTable("tabellaInvalidiTotali", tabellaInvalidiTotali, tr);
    });

    $('.dataTables-expand#tabellaInvalidiParziali').on('click', 'td.details-control', function () {
        // alert(".dataTables-expand#tabellaInvalidiParziali")
        var tr = $(this).closest('tr');
        expandTable("tabellaInvalidiParziali", tabellaInvalidiParziali, tr);
    });

    $('.dataTables-expand3#tabellaTotalePrestazioni').on('click', 'td.details-control', function () {
        // alert(".dataTables-expand#tabellaTotalePrestazioni")
        var tr = $(this).closest('tr');
        expandTable("tabellaTotalePrestazioni", tabellaTotalePrestazioni, tr);
    });

</script>