<script type="text/html" id="secondaryTable">
    <h1> SECONDARY-TABLE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
    
    <table class="table table-striped table-bordered dataTables-expand secondary-table">
        <thead>
            <tr>
                <th></th>
                <th>Mese</th>
                <th colspan="2">Importo mensile spettante</th>
                <th colspan="2">Importo mensile da recuperare</th>
                <th colspan="2">Importo mensile tredicesima maturata</th>
                <th colspan="2">Importo mensile conguaglio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <a type="button" ng-click="visualizzaLiquidazione()">DICEMBRE</a>
                </td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="9">
                    <div class="row">
                        <div class="col-md-4 m-t-sm m-b-sm">
                            <div class="m-l-sm">
                                Simulazione importo mensile spettante eredi: 435,00 <br/>
                                Liquidato ad eredi: sì
                            </div>
                        </div>
                        <div class="col-md-4 m-t-sm m-b-sm">
                            <div>
                                Importo tredicesima eredi: 435,00 <br/>
                                Liquidato ad eredi: in parte
                            </div>
                        </div>
                        <div class="col-md-4 m-t-sm m-b-sm">
                            <div class="m-r-sm">
                                Importo mensile conguaglio ad eredi: 0,00 <br/>
                                Liquidato ad eredi: no
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                   <a type="button" ng-click="visualizzaLiquidazione()">NOVEMBRE</a>
                </td>
                
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                  <a type="button" ng-click="visualizzaLiquidazione()">OTTOBRE</a>
                </td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td><a type="button" data-toggle="modal" data-target="#visualizzaLiquidazione">SETTEMBRE</a></td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td><a type="button" data-toggle="modal" data-target="#visualizzaLiquidazione">AGOSTO</a></td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td><a type="button" data-toggle="modal" data-target="#visualizzaLiquidazione">LUGLIO</a></td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td><a type="button" data-toggle="modal" data-target="#visualizzaLiquidazione">GIUGNO</a></td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td>108,75 €</td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td><a type="button" data-toggle="modal" data-target="#visualizzaLiquidazione">MAGGIO</a></td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td>108,75 €</td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td><a type="button" data-toggle="modal" data-target="#visualizzaLiquidazione">APRILE</a></td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td>108,75 €</td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td><a type="button" data-toggle="modal" data-target="#visualizzaLiquidazione">MARZO</a></td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td>108,75 €</td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td><a type="button" data-toggle="modal" data-target="#visualizzaLiquidazione">FEBBRAIO</a></td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td><a type="button" data-toggle="modal" data-target="#visualizzaLiquidazione">GENNAIO</a></td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
        </tbody>
    </table>
  

</script>
<script type="text/html" id="secondaryTable2">
    <h1> SECONDARY-TABLE-2 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
   <!-- 
    <table class="table table-striped table-bordered dataTables-expand secondary-table">
        <thead>
            <tr>
                <th></th>
                <th>Mese</th>
                <th colspan="2">Importo mensile spettante</th>
                <th colspan="2">Importo mensile da recuperare</th>
                <th colspan="2">Importo mensile tredicesima maturata</th>
                <th colspan="2">Importo mensile conguaglio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>DICEMBRE</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>NOVEMBRE</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>OTTOBRE</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>SETTEMBRE</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>AGOSTO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>LUGLIO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>GIUGNO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>MAGGIO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>APRILE</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>MARZO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td></td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>FEBBRAIO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>GENNAIO</td>
                <td>435,00 € </td>
                <td style="width:15px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                <td> </td>
                <td style="width:15px;"></td>
                <td>36,25 € </td>
                <td style="width:15px;"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                <td>  </td>
                <td style="width:15px;"></td>
            </tr>
        </tbody>
    </table> -->

</script>
<script type="text/html" id="thirdTable">
    <h1> THIRD-TABLE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </h1>
    <!-- 
 
    <div class="row">
        <div class="col-md-4 m-t-sm m-b-sm">
            <div class="m-l-sm">
                Simulazione importo mensile spettante eredi: 21.450,00 <br/>
                Liquidato ad eredi: si/no/in parte
            </div>
        </div>
        <div class="col-md-4 m-t-sm m-b-sm">
            <div>
                Importo tredicesima eredi: 2.543,00 <br/>
                Liquidato ad eredi: si/no/in parte
            </div>
        </div>
        <div class="col-md-4 m-t-sm m-b-sm">
            <div class="m-r-sm">
                Importo mensile conguaglio ad eredi: 2.543,00 <br/>
                Liquidato ad eredi: si/no/in parte
            </div>
        </div>
    </div>-->
</script>
<script type="text/html" id="secondaryTable4">
    <h1> SECONDARY-TABLE-4 - ORIGINALE DA ELIMINARE </h1>
    
    <table class="table table-striped table-bordered dataTables-expand secondary-table">
        <thead>
            <tr>
                <th></th>
                <th>Nome prestazione</th>
                <th>Totale</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Assegno mensile per invalidi civili parziali minorenni</td>
                <td>5.655,00 €</td>
            </tr>
            <tr>
                <td></td>
                <td> Indennità di accompagnamento per invalidi civili totalmente inabili</td>
                <td>12.344,55 €</td>
            </tr>
        </tbody>
    </table>
</script>
<div>
    <div>
        <h3>Totale delle prestazioni liquidate per anno</h3>

        <div class="row">

            <div class="col-md-6">
                <table class="table table-bordered table-striped dataTables-expand3" datatable="ng" dt-options="dtOptionsTabPrestazioniLiquidate"
                    dt-column-defs="dtColumnTabPrestazioniLiquidate" dt-instance="vm.dtInstance">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Anno</th>
                            <th>Totale prestazioni liquidate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in prestazioniLiquidate">

                            <td class="details-control text-center pointer">
                                <a href="javascript:;" ng-click="detailInfoPrestazioniLiquidate(item.Anno, $event)"
                                    title="Click per espandere">
                                    <i class="fa fa-chevron-down" aria-hidden="true" style="color:gray"></i>
                                </a>
                            </td>
                            <td>
                                {{item.Anno}}
                            </td>
                            <td class="text-right">{{item.TotalePrestazioniLiquidate | currency : "€" }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <!-- rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr -->
        <div class="row">
            <div class="col-md-6">
                <table datatable="nxg" class="table table-bordered table-striped dataTables-expand3" id="tabellaTotalePrestazioni">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Anno</th>
                            <th>Totale prestazioni liquidate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr table-id="secondaryTable4">
                            <td class="details-control text-center pointer">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </td>
                            <td>2014</td>
                            <td>15.150,55 €</td>
                        </tr>
                        <tr table-id="secondaryTable4">
                            <td class="details-control text-center pointer">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </td>
                            <td>2015</td>
                            <td>17.999,55 €</td>
                        </tr>
                        <tr table-id="secondaryTable4">
                            <td class="details-control text-center pointer">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </td>
                            <td>2016</td>
                            <td>17.999,55 €</td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div>
        <h3>Elenco delle prestazioni</h3>
        <div class="panel panel-default">
            <div class="panel-heading pointer" data-toggle="collapse" href="#collapseOne">
                <strong><i class="fa fa-caret-down" aria-hidden="true"></i> Assegno mensile per invalidi civili
                    parziali
                    minorenni (descrizione prestazione)</strong>
                <div class="pull-right">
                    <label>Data decorrenza: 01/10/2001</label>
                    <span class="label label-warning" data-toggle="popover" data-container="body" data-trigger="hover"
                        data-html="true" data-content="<div>Stato: <label class='text-warning'>Revocata</label></div><div>Data revoca: <label>03/12/2013</label></div>"
                        data-placement="left">
                        <i class="fa fa-circle-o"></i> revocata </span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            Data scadenza: 01/10/2017
                            <span style="visibility: hidden;"> ____________ </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#importi-spettanti-1" role="tab" data-toggle="tab">Importi
                                spettanti</a></li>
                        <li role="presentation"><a href="#stato-prestazioni-1" role="tab" data-toggle="tab">Stato
                                prestazione</a></li>
                        <li role="presentation"><a href="#elenco-evidenze-1" ole="tab" data-toggle="tab">Elenco
                                evidenze</a></li>
                        <li role="presentation"><a href="#elenco-dati-reddito-1" role="tab" data-toggle="tab">Elenco
                                dati
                                relativi al reddito</a></li>
                        <li role="presentation"><a href="#elenco-sospensioni-1" role="tab" data-toggle="tab">Elenco
                                sospensioni</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="importi-spettanti-1">
                            <table class="table table-striped table-bordered dataTables-expand" id="tabellaInvalidiParziali">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Anno</th>
                                        <th>Totale spettante per anno non ancora liquidato</th>
                                        <th>Totale per anno liquidato</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr table-id="secondaryTable2">
                                        <td></td>
                                        <td>2014</td>
                                        <td>0,0 €</td>
                                        <td>5.655,00 €</td>
                                    </tr>
                                    <tr table-id="secondaryTable2">
                                        <td></td>
                                        <td>2015</td>
                                        <td>0,0 €</td>
                                        <td>5.655,00 €</td>
                                    </tr>
                                    <tr table-id="secondaryTable">
                                        <td></td>
                                        <td>2016</td>
                                        <td>0,0 €</td>
                                        <td>4.350,00 €</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="stato-prestazioni-1">
                            <div class="m-b-lg">
                                <h3>
                                    <span><i class="fa fa-circle-o text-warning m-r-xs" aria-hidden="true"></i>
                                        Revocata</span>
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Data revoca</label>
                                    <input type="text" readonly class="form-control" value="03/12/2003"></div>
                                <div class="col-md-4 form-group">
                                    <label>Motivo revoca</label>
                                    <input type="text" readonly class="form-control" value="Non residente in Alto Adige"></div>
                                <div class="col-md-4 form-group">
                                    <label>Importo da recuperare</label>
                                    <input type="text" readonly class="form-control" value="549,00 €"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="button-bar text-right">
                                        <button class="btn btn-sm">Predisponi sospensione prestazione</button>
                                        <button class="btn btn-sm">Predisponi negazione prestazione</button>
                                        <button class="btn btn-sm btn-primary">Modifica revoca prestazione</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="elenco-evidenze-1">
                            <div class="m-b-lg">
                                <evidenze-component></evidenze-component>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="elenco-dati-reddito-1">
                            <table class="table table-bordered dataTables-paged order-desc">
                                <thead class="price">
                                    <tr>
                                        <th>Anno</th>
                                        <th>Soglia</th>
                                        <th>Reddito</th>
                                        <th>Esito</th>
                                        <th>Soglia incremento</th>
                                        <th>Esito</th>
                                        <th>Importo annuale di tutte le pensioni</th>
                                        <th>Importo annuale dell'assegno integrativo ciechi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2016</td>
                                        <td>4.805,19 €</td>
                                        <td>3.500,00 €</td>
                                        <td>Congruo</td>
                                        <td>14.135,55 €</td>
                                        <td>Superato</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>4.805,19 €</td>
                                        <td>3.500,00 €</td>
                                        <td>Congruo</td>
                                        <td>14.135,55 €</td>
                                        <td>Superato</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2014</td>
                                        <td>4.805,19 €</td>
                                        <td>3.500,00 €</td>
                                        <td>Congruo</td>
                                        <td>8.304,79 €</td>
                                        <td>Congruo</td>
                                        <td>5.220,00 €</td>
                                        <td>1.389,72 €</td>
                                    </tr>
                                    <tr>
                                        <td>2013</td>
                                        <td>4.805,19 €</td>
                                        <td>3.500,00 €</td>
                                        <td>Congruo</td>
                                        <td>8.304,79 €</td>
                                        <td>Congruo</td>
                                        <td>5.220,00 €</td>
                                        <td>1.389,72 €</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="elenco-sospensioni-1">
                            <table class="table table-striped table-bordered dataTables-paged">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Motivo</th>
                                        <th>Scadenza</th>
                                        <th>Fine</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01/01/2020</td>
                                        <td>Soggiorno presso struttura di lungodegenza</td>
                                        <td>01/01/2020</td>
                                        <td>01/01/2020</td>
                                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                                    </tr>
                                    <tr>
                                        <td>01/01/2020</td>
                                        <td>Percepisce altre pensioni</td>
                                        <td>01/01/2020</td>
                                        <td>01/01/2020</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>01/01/2020</td>
                                        <td>Percepisce assegno di cura</td>
                                        <td>01/01/2020</td>
                                        <td>01/01/2020</td>
                                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-separator"></div>
                    </div>
                    <div class="row m-t-lg">
                        <div class="col-md-4 form-group">
                            <label>Data decorrenza</label>
                            <input type="text" readonly class="form-control" value="01/10/2001"></div>
                        <div class="col-md-4 form-group">
                            <label>Data scadenza</label>
                            <input type="text" readonly class="form-control" value="01/10/2004"></div>
                        <div class="col-md-12 form-group">
                            <label>Note</label>
                            <textarea class="form-control" readonly=""></textarea>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-sm btn-primary">Modifica prestazione</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading pointer" data-toggle="collapse" href="#collapseTwo">
                <strong><i class="fa fa-caret-down" aria-hidden="true"></i> Indennità di accompagnamento per invalidi
                    civili
                    totalmente inabili</strong>
                <div class="pull-right">
                    <label>Data decorrenza: 01/10/2001</label>
                    <span class="label label-warning" data-toggle="popover" data-container="body" data-trigger="hover"
                        data-html="true" data-content="<div>Stato: <label class='text-warning'>Revocata</label></div><div>Data revoca: <label>03/12/2013</label></div>"
                        data-placement="left">
                        <i class="fa fa-circle-o"></i> revocata </span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            Data scadenza: 01/10/2017
                            <span style="visibility: hidden;"> ____________ </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#importi-spettanti-2" role="tab" data-toggle="tab">Importi
                                spettanti</a></li>
                        <li role="presentation"><a href="#stato-prestazioni-2" role="tab" data-toggle="tab">Stato
                                prestazione</a></li>
                        <li role="presentation"><a href="#elenco-evidenze-2" ole="tab" data-toggle="tab">Elenco
                                evidenze</a></li>
                        <li role="presentation"><a href="#elenco-dati-reddito-2" role="tab" data-toggle="tab">Elenco
                                dati
                                relativi al reddito</a></li>
                        <li role="presentation"><a href="#elenco-sospensioni-2" role="tab" data-toggle="tab">Elenco
                                sospensioni</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="importi-spettanti-2">
                            <table class="table table-striped table-bordered dataTables-expand" id="tabellaInvalidiTotali">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Anno</th>
                                        <th>Totale spettante per anno non ancora liquidato</th>
                                        <th>Totale per anno liquidato</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr table-id="secondaryTable2">
                                        <td>xxxx</td>
                                        <td>2014xxxx</td>
                                        <td>20.344,55 €</td>
                                        <td>12.344,55 €</td>
                                    </tr>
                                    <tr table-id="secondaryTable2">
                                        <td>xxx</td>
                                        <td>2015xxxx</td>
                                        <td>20.344,55 €</td>
                                        <td>12.344,55 €</td>
                                    </tr>
                                    <tr table-id="secondaryTable">
                                        <td>xxxx</td>
                                        <td>2016xxxx</td>
                                        <td>20.344,55 €</td>
                                        <td>12.344,55 €</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="stato-prestazioni-2">
                            <div class="m-b-lg">
                                <h3>
                                    <span><i class="fa fa-circle-o text-warning m-r-xs" aria-hidden="true"></i>
                                        Revocata</span>
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Data revoca</label>
                                    <input type="text" readonly class="form-control" value="03/12/2003"></div>
                                <div class="col-md-4 form-group">
                                    <label>Motivo revoca</label>
                                    <input type="text" readonly class="form-control" value="Non residente in Alto Adige"></div>
                                <div class="col-md-4 form-group">
                                    <label>Importo da recuperare</label>
                                    <input type="text" readonly class="form-control" value="549,00 €"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="button-bar text-right">
                                        <button class="btn btn-sm btn-primary">Predisponi sospensione prestazione</button>
                                        <button class="btn btn-sm btn-primary">Predisponi negazione prestazione</button>
                                        <button class="btn btn-sm btn-primary">Modifica revoca prestazione</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-separator"></div>
                            </div>
                            <div class="row m-t-lg">
                                <div class="col-md-4 form-group">
                                    <label>Data decorrenza</label>
                                    <input type="text" readonly class="form-control" value="01/10/2001"></div>
                                <div class="col-md-4 form-group">
                                    <label>Data scadenza</label>
                                    <input type="text" readonly class="form-control" value="01/10/2004"></div>
                                <div class="col-md-12 form-group">
                                    <label>Note</label>
                                    <textarea class="form-control" readonly=""></textarea>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-sm btn-primary">Modifica prestazione</button>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="elenco-evidenze-2">
                            <div class="m-b-lg">
                                <evidenze-component></evidenze-component>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="elenco-dati-reddito-2">
                            <table class="table table-bordered dataTables-paged order-desc">
                                <thead class="price">
                                    <tr>
                                        <th>Anno</th>
                                        <th>Soglia</th>
                                        <th>Reddito</th>
                                        <th>Esito</th>
                                        <th>Importo annuale di tutte le pensioni</th>
                                        <th>Importo annuale dell'assegno integrativo ciechi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2016</td>
                                        <td>4.805,19 €</td>
                                        <td>3.500,00 €</td>
                                        <td>Congruo</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>4.805,19 €</td>
                                        <td>3.500,00 €</td>
                                        <td>Congruo</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2014</td>
                                        <td>4.805,19 €</td>
                                        <td>3.500,00 €</td>
                                        <td>Congruo</td>
                                        <td>5.220,00 €</td>
                                        <td>1.389,72 €</td>
                                    </tr>
                                    <tr>
                                        <td>2013</td>
                                        <td>4.805,19 €</td>
                                        <td>3.500,00 €</td>
                                        <td>Congruo</td>
                                        <td>5.220,00 €</td>
                                        <td>1.389,72 €</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="elenco-sospensioni-2">
                            <table class="table table-striped table-bordered dataTables-paged">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Motivo</th>
                                        <th>Scadenza</th>
                                        <th>Fine</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01/01/2020</td>
                                        <td>Soggiorno presso struttura di lungodegenza</td>
                                        <td>01/01/2020</td>
                                        <td>01/01/2020</td>
                                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                                    </tr>
                                    <tr>
                                        <td>01/01/2020</td>
                                        <td>Percepisce altre pensioni</td>
                                        <td>01/01/2020</td>
                                        <td>01/01/2020</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>01/01/2020</td>
                                        <td>Percepisce assegno di cura</td>
                                        <td>01/01/2020</td>
                                        <td>01/01/2020</td>
                                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="text-right">
    <button class="btn btn-primary btn-sm">Ricalcola Prestazioni</button>
</div>
<br>
sto in elenco prestazioni -> start di ffffffffffffffffffffffffffffffffffff
<br>
<div ng-include="'views/partials/_visualizza_liquidazione.html'"></div>
<br>
sto in elenco prestazioni -> end di ffffffffffffffffffffffffffffffffffff
<br>

<script>

    var table = $('.dataTables-expand').DataTable({
        "columns": [
            {
                "className": 'details-control text-center pointer',
                "orderable": false,
                "data": null
                ,
                "defaultContent": '<i class="fa fa-chevron-down" aria-hidden="true"></i>'
            },
            null,
            null,
            null
        ],
        order: [[1, 'desc']],
        searching: false,
        responsive: true,
        lengthChange: false
    });


    var tabellaInvalidiTotali = $('#tabellaInvalidiTotali').DataTable();
    var tabellaInvalidiParziali = $('#tabellaInvalidiParziali').DataTable();

    var tabellaTotalePrestazioni = $('#tabellaTotalePrestazioni').DataTable({
        "columns": [
            {
                // "className": 'details-control text-center pointer',
                // "orderable": false,
                // "data": null
                //,
                // "defaultContent": '<i class="fa fa-chevron-down" aria-hidden="true"></i>'
            },
            null,
            null
        ],
        order: [[1, 'desc']],
        searching: false,
        responsive: true,
        lengthChange: false
    });
    // Add event listener for opening and closing details
    function expandTable(tableId, tableRoot, tr) {
        alert(1111)
        debugger;
        var row = tableRoot.row(tr);
        if (row.length < 1) {
            $('#' + tableId + ' table').each(function (index) {
                var table = $(this).DataTable();
                if (table.row(tr).length > 0) {
                    row = table.row(tr);
                }
            });

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child($('#thirdTable').html()).show();
                tr.addClass('shown');
            }
        }
        else {
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                var id = '#' + tr[0].attributes["table-id"].value;
                row.child($(id).html()).show();
                tr.addClass('shown');
            }
        }
    }

    $('.dataTables-expand#tabellaInvalidiTotali').on('click', 'td.details-control', function () {
        // alert(".dataTables-expand#tabellaInvalidiTotali")
        var tr = $(this).closest('tr');
        expandTable("tabellaInvalidiTotali", tabellaInvalidiTotali, tr);
    });

    $('.dataTables-expand#tabellaInvalidiParziali').on('click', 'td.details-control', function () {
        // alert(".dataTables-expand#tabellaInvalidiParziali")
        var tr = $(this).closest('tr');
        expandTable("tabellaInvalidiParziali", tabellaInvalidiParziali, tr);
    });

    $('.dataTables-expand3#tabellaTotalePrestazioni').on('click', 'td.details-control', function () {
        // alert(".dataTables-expand#tabellaTotalePrestazioni")
        var tr = $(this).closest('tr');
        expandTable("tabellaTotalePrestazioni", tabellaTotalePrestazioni, tr);
    });

</script>