<div>
    <table class="table table-bordered dataTables-paged">
        <thead>
            <tr>
                <th>Data domanda</th>
                <th>Numero e data protocollo</th>
                <th>Provenienza </th>
                <th>Delega Patronato</th>
                <th>Legale rappresentante</th>
                <th>Curatore</th>
                <th>Stato domanda</th>
                <th>Data chiusura</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="toolbox-parent-row">
                <td>01/04/2015</td>
                <td>1223 - 01/04/2015</td>
                <td>Provenienza</td>
                <td>CISL</td>
                <td>Marco Mariani</td>
                <td>Mario Marchi</td>
                <td class="text-center"><label class="label label-warning">revocata</label></td>
                <td>01/04/2016</td>
                <td class="toolbox-row">
                    <a title="visualizza" ui-sref="liquidazioni.visualizza_domanda">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a ng-click ="cancellaDomanda(1)" title="elimina">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
