<div>
    <table class="table table-bordered dataTables-paged">
        <thead>
            <tr>
                <th>Anno</th>
                <th>Indennità</th>
                <th>Recuperi</th>
                <th>Modalità di pagamento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2016</td>
                <td>
                    <div><strong>Pensione: </strong><span>13.928,00 €</span></div>
                    <div><strong>Accompagnamento: </strong><span>5.9340,00 €</span></div>
                    <div><strong>Integr. precedente: </strong><span>432,00 €</span></div>
                    <div><strong>Ciechi: </strong><span>2.432,00 €</span></div>
                    <div><strong>Sordi: </strong><span>232,00 €</span></div>
                </td>
                <td>
                    <div><strong>Pensione: </strong><span>13.928,00 €</span></div>
                    <div><strong>Accompagnamento: </strong><span>5.9340,00 €</span></div>
                    <div><strong>Integr. precedente: </strong><span>432,00 €</span></div>
                    <div><strong>Ciechi: </strong><span>2.432,00 €</span></div>
                    <div><strong>Sordi: </strong><span>232,00 €</span></div>
                    <div><strong>Ritenute di cat.: </strong><span>342,00 €</span></div>
                </td>
                <td>Bonifico Bancario </td>
            </tr>
            <tr>
                <td>2016</td>
                <td>
                    <div><strong>Pensione: </strong><span>13.928,00 €</span></div>
                    <div><strong>Accompagnamento: </strong><span>5.9340,00 €</span></div>
                    <div><strong>Integr. precedente: </strong><span>432,00 €</span></div>
                    <div><strong>Ciechi: </strong><span>2.432,00 €</span></div>
                    <div><strong>Sordi: </strong><span>232,00 €</span></div>
                </td>
                <td>
                    <div><strong>Pensione: </strong><span>13.928,00 €</span></div>
                    <div><strong>Accompagnamento: </strong><span>5.9340,00 €</span></div>
                    <div><strong>Integr. precedente: </strong><span>432,00 €</span></div>
                    <div><strong>Ciechi: </strong><span>2.432,00 €</span></div>
                    <div><strong>Sordi: </strong><span>232,00 €</span></div>
                    <div><strong>Ritenute di cat.: </strong><span>342,00 €</span></div>
                </td>
                <td>Bonifico Bancario </td>
            </tr>
            <tr>
                <td>2016</td>
                <td>
                    <div><strong>Pensione: </strong><span>13.928,00 €</span></div>
                    <div><strong>Accompagnamento: </strong><span>5.9340,00 €</span></div>
                    <div><strong>Integr. precedente: </strong><span>432,00 €</span></div>
                    <div><strong>Ciechi: </strong><span>2.432,00 €</span></div>
                    <div><strong>Sordi: </strong><span>232,00 €</span></div>
                </td>
                <td>
                    <div><strong>Pensione: </strong><span>13.928,00 €</span></div>
                    <div><strong>Accompagnamento: </strong><span>5.9340,00 €</span></div>
                    <div><strong>Integr. precedente: </strong><span>432,00 €</span></div>
                    <div><strong>Ciechi: </strong><span>2.432,00 €</span></div>
                    <div><strong>Sordi: </strong><span>232,00 €</span></div>
                    <div><strong>Ritenute di cat.: </strong><span>342,00 €</span></div>
                </td>
                <td>Bonifico Bancario </td>
            </tr>
        </tbody>
    </table>
</div>
