<table class="table table-bordered dataTables-paged">
    <thead>
        <tr>
            <th>Data e ora</th>
            <%# <th>Entità</th>%>
            <th>Tipo operazione</th>
            <%# <th>Identificativo entità</th>%>
            <th>Operatore</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01/01/2015 12:33:22</td>
            <%# <td>Entità</td>%>
            <td>Modifica domanda</td>
            <%# <td>772372 </td>%>
            <td>Guido Andreoli</td>
        </tr>
        <tr>
            <td>01/01/2015 12:33:22</td>
            <%# <td>Entità</td>%>
            <td>Modifica domanda</td>
            <%# <td>772372 </td>%>
            <td>Guido Andreoli</td>
        </tr>
        <tr>
            <td>01/01/2015 12:33:22</td>
            <%# <td>Entità</td>%>
            <td>Modifica domanda</td>
            <%# <td>772372 </td>%>
            <td>Guido Andreoli</td>
        </tr>
        <tr>
            <td>01/01/2015 12:33:22</td>
            <%# <td>Entità</td>%>
            <td>Modifica domanda</td>
            <%# <td>772372 </td>%>
            <td>Guido Andreoli</td>
        </tr>
        <tr>
            <td>01/01/2015 12:33:22</td>
            <%# <td>Entità</td>%>
            <td>Inserimento domanda</td>
            <%# <td>772372 </td>%>
            <td>Guido Andreoli</td>
        </tr>
    </tbody>
</table>
