<div class="col-md-4">
    <div class=" ibox float-e-margins">
        <div class="ibox-title text-center">
            <h5>Dati Assistito</h5>
        </div>
        <div class="ibox-content text-center">
            <h2 class="small"><strong>ROSSI MARIA</strong>&nbsp;-&nbsp;RSSMRA70A41F2052</h2>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class=" ibox float-e-margins">
        <div class="ibox-title text-center">
            <h5>Data di nascita</h5>
        </div>
        <div class="ibox-content text-center">
            <h2 class="small">10/08/1953</h2>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class=" ibox float-e-margins">
        <div class="ibox-title text-center">
            <h5>Data di decesso</h5>
        </div>
        <div class="ibox-content text-center">
            <h2 class="small">15/02/2016</h2>
        </div>
    </div>
</div>