<div class="col-md-4">
    <div class=" ibox float-e-margins">
        <div class="ibox-title text-center">
            <h5>Dati Assistito</h5>
        </div>
        <div class="ibox-content text-center">
            <h2 class="small"><strong>{{datiAssistito.Nome}} {{datiAssistito.Cognome}}</strong>&nbsp;-&nbsp;{{datiAssistito.CodiceFiscale}}</h2>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class=" ibox float-e-margins">
        <div class="ibox-title text-center">
            <h5>Data di nascita</h5>
        </div>
        <div class="ibox-content text-center">
            <h2 class="small">{{datiAssistito.DataDiNascita}}</h2>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class=" ibox float-e-margins">
        <div class="ibox-title text-center">
            <h5>Data di decesso</h5>
        </div>
        <div class="ibox-content text-center">
            <h2 class="small">{{datiAssistito.DataDiDecesso}}</h2>
        </div>
    </div>
</div>