<div class="popover-content">
    <div class="custom-popover">

        <div class="row">
            <div class="col-md-12" style="word-break: keep-all;">
                <span>{{ 'NOME' | translate }}:</span>
                <span>{{$ctrl.datiAssistito.Nome}}</span>
            </div>
            <div class="col-md-12">
                <span>{{ 'COGNOME' | translate }}:</span>
                <span>{{$ctrl.datiAssistito.Cognome}}</span>
            </div>
            <div class="col-md-12">
                <span>{{ 'CODICE_FISCALE' | translate }}:</span>
                <span>{{$ctrl.datiAssistito.CodiceFiscale}}</span>
            </div>
            <div class="col-md-12">
                <span>{{ 'DATA_DI_NASCITA' | translate }}:</span>
                <span>{{$ctrl.datiAssistito.DataDiNascita}}</span>
            </div>
            <div class="col-md-12">
                <span>{{ 'SESSO' | translate }}:</span>
                <span>{{$ctrl.datiAssistito.Sesso}}</span>
            </div>
            <div class="col-md-12">
                <span>{{ 'LUOGO_DI_NASCITA' | translate }}:</span>
                <span>{{$ctrl.datiAssistito.LuogoDiNascita}}</span>
            </div>
            <div class="col-md-12">
                <span>{{ 'NAZIONALITA' | translate }}:</span>
                <span>{{$ctrl.datiAssistito.Nazionalita}}</span>
            </div>
            <div class="col-md-12" style="word-break: keep-all;">
                <span>{{ 'RESIDENZA' | translate }}:</span>
                <span>{{$ctrl.datiAssistito.Residenza}}</span>
            </div>
            <div class="col-md-12">
                <span>{{ 'DOMICILIO' | translate }}:</span>
                <span>{{$ctrl.datiAssistito.Domicilio}}</span>
            </div>
            <div class="col-md-12 m-t-sm">

                <!-- camillocamillo -->
                <!-- <a ng-if="$ctrl.tipoRicerca == 'Anagrafe'" ng-click="$ctrl.onSave($ctrl.datiAssistito)" ui-sref="anagrafica.visualizza_anagrafica"
                    class="btn-primary btn btn-sm btn-block">Visualizza anagrafica</a>
                <a ng-if="$ctrl.tipoRicerca == 'Posizione'" ng-click="$ctrl.onSave($ctrl.datiAssistito)" ui-sref="posizione.visualizza_anagrafica"
                    class="btn-primary btn btn-sm btn-block">Visualizza posizione</a> -->


                <a ui-sref="anagrafica.visualizza_anagrafica({datiAssistito: $ctrl.datiAssistito})" class="btn-primary btn btn-sm btn-block">
                    {{ 'VISUALIZZA_DATI_ANAGRAFICI' | translate }}
                </a>


                <!-- <a ng-if="$ctrl.tipoRicerca == 'Anagrafe'" ui-sref="anagrafica.visualizza_anagrafica({datiAssistito: $ctrl.datiAssistito})"
                    class="btn-primary btn btn-sm btn-block">Visualizza
                    anagrafica</a> -->
                <!-- <a ng-if="$ctrl.tipoRicerca == 'Posizione'" ui-sref="posizione.visualizza_anagrafica({datiAssistito: $ctrl.datiAssistito})"
                    class="btn-primary btn btn-sm btn-block">Visualizza
                    posizione</a> -->
            </div>
        </div>
    </div>
</div>