<div class="custom-popover">
	<h3 class="m-t-md text-center">Arretrati liquidati nel mese di riferimento</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="col-md-3">Mese</th>
				<th class="col-md-3">Importo spettante arretrati</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Agosto 2016</td>
				<td>€ 57,00</td>
			</tr>
			<tr>
				<td>Febbraio 2016</td>
				<td>€ 13,00</td>
			</tr>
			<tr>
				<td>Marzo 2016</td>
				<td>€ 30,00</td>
			</tr>
		</tbody>
	</table>
</div>
