<div class="custom-popover">
    <div class="row">
        <div class="col-md-12">
            <span>Nome:</span>
            <span>Maria</span>
        </div>
        <div class="col-md-12">
            <span>Cognome:</span>
            <span>Rossi</span>
        </div>
        <div class="col-md-12">
            <span>Codice fiscale:</span>
            <span>RSSMRA70A41F2052</span>
        </div>
        <div class="col-md-12">
            <span>Data di nascita:</span>
            <span>05/01/1970</span>
        </div>
        <div class="col-md-12">
            <span>Sesso:</span>
            <span>F</span>
        </div>
        <div class="col-md-12">
            <span>Luogo di nascita:</span>
            <span>Bolzano</span>
        </div>
        <div class="col-md-12">
            <span>Nazionalità:</span>
            <span>Italiana</span>
        </div>
        <div class="col-md-12">
            <span>Residenza:</span>
            <span>via Luigi Cadorna, 53 - 39100 Bolzano BZ</span>
        </div>
        <div class="col-md-12">
            <span>Domicilio:</span>
            <span>via Armando Diaz, 2 - 39100 Bolzano BZ</span>
        </div>
        <div class="col-md-12 m-t-sm">
            <a href="visualizza_anagrafica.html" class="btn-primary btn btn-sm btn-block">Visualizza anagrafica</a>
        </div>
    </div>
</div>
