<div class="custom-popover">
    <div class="row">
        <div class="col-md-12">
            <span>Data prima decorrenza:</span>
            <span>05/08/2015</span>
        </div>
        <div class="col-md-12">
            <span>Data prima scadenza:</span>
            <span>05/12/2015</span>
        </div>
        <div class="col-md-12">
            <span>Data seconda decorrenza:</span>
            <span>05/01/2016</span>
        </div>
        <div class="col-md-12">
            <span>Data seconda scadenza:</span>
            <span>05/04/2016</span>
        </div>
        <div class="col-md-12">
            <span>Data revoca:</span>
            <span>15/04/2016</span>
        </div>
        <div class="col-md-12">
            <span>Codice negazione:</span>
            <span>122100</span>
        </div>
    </div>
</div>
