<div class="row">
    <div class="col-md-6 form-group">
        <label>{{ 'COGNOME' | translate }}</label>
        <input type="text" class="form-control" ng-model="_ricAnagCtrl.findCognome" placeholder="Inserire cognome da ricercare">
    </div>
    <div class="col-md-6 form-group">
        <label>{{ 'NOME' | translate }}</label>
        <input type="text" class="form-control" ng-model="_ricAnagCtrl.findNome" placeholder="Inserire nome da ricercare">
    </div>
    <div class="col-md-6 form-group">
        <label>{{ 'CODICE_FISCALE' | translate }}</label>
        <input type="text" class="form-control" ng-model="_ricAnagCtrl.findCodiceFiscale" placeholder="Codice fiscale da ricercare">
    </div>
    <div class="col-md-6 form-group">
        <label>{{ 'DATA_DI_NASCITA' | translate }}</label>
        <div class="input-group date">
            <input type="text" class="form-control" ng-model="_ricAnagCtrl.findDataDiNascita" placeholder="Data nascita da ricercare formato dd/MM/yyyy">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div id="filtri_deceduto">
        <div class="col-md-6 form-group has-warning">
            <label>{{ 'NUMERO_FALDONE_ARCHIVIAZIONE' | translate }}</label>
            <input type="number" class="form-control" ng-model="_ricAnagCtrl.findNumeroFaldoneArchiviazione"
                placeholder="Numero faldone archiviazione da ricercare">
        </div>
        <div class="col-md-6 form-group has-error">
            <label>{{ 'ANNO_DI_SCARTO' | translate }}</label>
            <input type="number" class="form-control" ng-model="_ricAnagCtrl.findAnnoDiScarto" placeholder="Anno di scarto da ricercare">
        </div>

    </div>
</div>
<div class="row text-right">
    <div class="col-sm-12">
        <button class="btn btn-primary" id="anagSearch" ng-click="_ricAnagCtrl.find()">{{ 'CERCA' | translate }}</button>
    </div>
</div>

<div class="row" id="anagResults" style="display:none;margin-top:10px">
    <div>

        <!-- <table datatable="ng" dt-options="visAnaCtrl.dtOptions" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{{'ANNO' | translate}} </th>
                        <th>{{'REDDITO_ASSISTITO' | translate}} </th>
                        <th>{{'REDDITO_CONIUGE' | translate}} </th>
                        <th>{{ 'VALIDO_PER_GLI_ANNI_SUCCESSIVI' | translate }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="item in datiAssistito.Redditi">
                        <td>{{item.Anno}}</td>
                        <td>
                            {{item.RedditoAssistito}}
                        </td>
                        <td>{{item.RedditoConiuge}}</td>
                        <td class="text-center">
                            <div class="checkbox"><input icheck ng-model="item.ValidoPerGliAnniSuccessivi" type="checkbox"
                                    disabled> <i></i></div>
                        </td>

                        <td style="font-size: 18px; text-align: center">
                            <a href="xxxxx.html"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table> -->

        <!-- <table id="tabellaRisultatiRicercaAnagrafica" class="table table-striped table-bordered"> -->
        <table datatable="ng" dt-options="_ricAnagCtrl.dtOptions" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ 'COGNOME' | translate }}</th>
                    <th>{{ 'NOME' | translate }}</th>
                    <th>{{ 'CODICE_FISCALE' | translate }}</th>
                    <th>{{ 'DATA_DI_NASCITA' | translate }}</th>
                    <th>{{ 'DATA_DECESSO' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in _ricAnagCtrl.elencoAssistiti">
                    <td>{{item.Cognome}}</td>
                    <td>{{item.Nome}}</td>
                    <td><a ng-click="_ricAnagCtrl.findCodFis(item.CodiceFiscale)" angular-popover direction="top"
                            template-url="views/partials/_popover_anagrafica" style="position: relative;">{{item.CodiceFiscale}}</a></td>
                    <td>{{item.DataDiNascita}}</td>
                    <td>{{item.DataDiDecesso}}</td>
                </tr>
            </tbody>
        </table>

        <!-- <table ng-table="_ricAnagCtrl.tableParams" class="table table-striped table-bordered">
                <tr ng-repeat="item in $data">
                    <td data-title="'COGNOME' | translate" sortable="'Cognome'">{{item.Cognome}}</td>
                    <td data-title="'NOME'  | translate" sortable="'Nome'">{{item.Nome}}</td>
                    <td data-title="'CODICE_FISCALE' | translate" sortable="'CodiceFiscale'"><a ng-click="_ricAnagCtrl.findCodFis(item.CodiceFiscale)"
                            angular-popover direction="top" template-url="views/partials/_popover_anagrafica" style="position: relative;">{{item.CodiceFiscale}}</a></td>
                    <td data-title="'DATA_DI_NASCITA' | translate">{{item.DataDiNascita}}</td>
                    <td data-title="'DATA_DECESSO' | translate">{{item.DataDiDecesso}}</td>
                </tr>
            </table> -->

    </div>


    <script>
        $('#anagSearch').click(function () {
            $("#anagResults").show();
        });
    </script>