<div class="row">
    <div class="col-md-6 form-group">
        <label>{{ 'COGNOME' | translate }}</label>
        <input type="text" class="form-control" ng-model="$anagCtrl.findCognome" placeholder="Cognome da ricercare">
    </div>
    <div class="col-md-6 form-group">
        <label>{{ 'NOME' | translate }}</label>
        <input type="text" class="form-control" ng-model="$anagCtrl.findNome" placeholder="Nome da ricercare">
    </div>
    <div class="col-md-6 form-group">
        <label>{{ 'CODICE_FISCALE' | translate }}</label>
        <input type="text" class="form-control" ng-model="$anagCtrl.findCodiceFiscale" placeholder="Codice fiscale da ricercare">
    </div>
    <div class="col-md-6 form-group">
        <label>{{ 'DATA_DI_NASCITA' | translate }}</label>
        <div class="input-group date">
            <input type="text" class="form-control js-date" ng-model="$anagCtrl.findDataDiNascita"
                placeholder="Data nascita da ricercare formato dd/MM/yyyy">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div id="filtri_deceduto">
        <div class="col-md-6 form-group">
            <label>{{ 'NUMERO_FALDONE_ARCHIVIAZIONE' | translate }}</label>
            <input type="text" class="form-control intero" ng-model="$anagCtrl.findNumeroFaldoneArchiviazione"
                placeholder="Numero faldone archiviazione da ricercare">
        </div>
        <div class="col-md-6 form-group">
            <label>{{ 'ANNO_DI_SCARTO' | translate }}</label>
            <input type="text" class="form-control anno" ng-model="$anagCtrl.findAnnoDiScarto" placeholder="Anno di scarto da ricercare">
        </div>

    </div>
</div>
<div class="row text-right">
    <div class="col-sm-12">
        <button class="btn btn-primary" id="anagSearch" ng-click="$anagCtrl.find()">{{ 'CERCA' | translate }}</button>
    </div>
</div>

<div class="row" id="anagResults" style="display:none;margin-top:10px">

    <table datatable="ng" dt-options="dtOptions" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ 'COGNOME' | translate }}</th>
                <th>{{ 'NOME' | translate }}</th>
                <th>{{ 'CODICE_FISCALE' | translate }}</th>
                <th>{{ 'DATA_DI_NASCITA' | translate }}</th>
                <th>{{ 'DATA_DECESSO' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $anagCtrl.elencoAssistiti">
                <td>{{item.Cognome}}</td>
                <td>{{item.Nome}}</td>
                <td>
                    <a ng-click="findCodFis(item.CodiceFiscale)" angular-popover direction="top" template-url="views/partials/_popover_anagrafica"
                        style="position: relative; z-index: 100;">{{item.CodiceFiscale}}</a>
                </td>
                <td>{{item.DataDiNascita}}</td>
                <td>{{item.DataDiDecesso}}</td>
            </tr>
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {

        $('#anagSearch').click(function () {
            $("#anagResults").show();
        });

        $('.input-group.date').datepicker({
            todayBtn: "linked",
            format: 'dd/mm/yyyy',
            keyboardNavigation: false,
            forceParse: true,
            calendarWeeks: true,
            autoclose: true
            //orientation: 'bottom left'
        });
    })
</script>