<div>
    <table class="table table-bordered dataTables-paged">
        <thead>
            <tr>
                <th>Data</th>
                <th>Tipo</th>
                <th>Numero</th>
                <th>Tipo prestazione</th>
                <th>Registrazione corte dei conti</th>
                <th>Decreto revocato</th>
                <th>Importo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01/01/2020</td>
                <td>Lorem ipsum</td>
                <td class="text-right">232122</td>
                <td><a onclick="javascript:event.stopPropagation();" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-content='<%- partial("_popover_storico_decreti") %>'>Indennità di accompagnamento</a></td>
                <td>
                    <div><strong>Data: </strong><span>01/01/2020</span></div>
                    <div><strong>Foglio: </strong><span>3433422</span></div>
                    <div><strong>Registro: </strong><span>2321122</span></div>
                </td>
                <td>
                    <div><strong>Data: </strong><span>01/01/2020</span></div>
                    <div><strong>Numero: </strong><span>12355</span></div>
                </td>
                <td>
                    <div><strong>Capitale: </strong><span>59.000,00 €</span></div>
                    <div><strong>Interessi: </strong><span>12.000,00 €</span></div>
                    <div><strong>Arretrati: </strong><span>32.000,00 €</span></div>
                </td>
            </tr>
            <tr>
                <td>01/01/2020</td>
                <td>Lorem ipsum</td>
                <td class="text-right">232122</td>
                <td><a onclick="javascript:event.stopPropagation();" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-content='<%- partial("_popover_storico_decreti") %>'>Indennità di accompagnamento</a></td>
                <td>
                    <div><strong>Data: </strong><span>01/01/2020</span></div>
                    <div><strong>Foglio: </strong><span>3433422</span></div>
                    <div><strong>Registro: </strong><span>2321122</span></div>
                </td>
                <td>
                    <div><strong>Data: </strong><span>01/01/2020</span></div>
                    <div><strong>Numero: </strong><span>12355</span></div>
                </td>
                <td>
                    <div><strong>Capitale: </strong><span>59.000,00 €</span></div>
                    <div><strong>Interessi: </strong><span>12.000,00 €</span></div>
                    <div><strong>Arretrati: </strong><span>32.000,00 €</span></div>
                </td>
            </tr>
            <tr>
                <td>01/01/2020</td>
                <td>Lorem ipsum</td>
                <td class="text-right">232122</td>
                <td><a onclick="javascript:event.stopPropagation();" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-content='<%- partial("_popover_storico_decreti") %>'>Indennità di accompagnamento</a></td>
                <td>
                    <div><strong>Data: </strong><span>01/01/2020</span></div>
                    <div><strong>Foglio: </strong><span>3433422</span></div>
                    <div><strong>Registro: </strong><span>2321122</span></div>
                </td>
                <td>
                    <div><strong>Data: </strong><span>01/01/2020</span></div>
                    <div><strong>Numero: </strong><span>12355</span></div>
                </td>
                <td>
                    <div><strong>Capitale: </strong><span>59.000,00 €</span></div>
                    <div><strong>Interessi: </strong><span>12.000,00 €</span></div>
                    <div><strong>Arretrati: </strong><span>32.000,00 €</span></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
