<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Data protocollo</th>
                <th>N. protocollo</th>
                <th>% invalidità</th>
                <th>Indennità di accompagnamento</th>
                <th>Patologia uditiva</th>
                <th>Riduzione del visus</th>
                <th>Note</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01/01/2020</td>
                <td>442524223</td>
                <td>60%</td>
                <td>Sì</td>
                <td>Sì</td>
                <td>Sì</td>
                <td>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.</td>
                <td>
                    <a title="modifica">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>01/01/2020</td>
                <td>2345223211</td>
                <td>100%</td>
                <td>Sì</td>
                <td>Sì</td>
                <td>Sì</td>
                <td>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</td>
                <td>
                    <a title="modifica">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-right">
    <button ng-click="inserisciNuovoVerbale()" class="btn btn-sm btn-primary">inserisci nuovo verbale</button>
</div>
