<div class="row">
    <div class="col-md-4">
        <div class=" ibox float-e-margins">
            <div class="ibox-title text-center">
                <h5>{{'DATI_ASSISTITO' | translate}}</h5>
            </div>
            <div class="ibox-content text-center">
                <h2 class="small"><strong>{{$ctrl.datiAssistito.Nome}} {{$ctrl.datiAssistito.Cognome}}</strong>&nbsp;-&nbsp;{{$ctrl.datiAssistito.CodiceFiscale}}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class=" ibox float-e-margins">
            <div class="ibox-title text-center">
                <h5>{{'DATA_DI_NASCITA' | translate}}</h5>
            </div>
            <div class="ibox-content text-center">
                <h2 class="small">{{$ctrl.datiAssistito.DataDiNascita}}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class=" ibox float-e-margins">
            <div class="ibox-title text-center">
                <h5>{{'DATA_DI_DECESSO' | translate}}</h5>
            </div>
            <div class="ibox-content text-center">
                <h2 class="small">{{$ctrl.datiAssistito.DataDiDecesso}}</h2>
            </div>
        </div>
    </div>
</div>