<h1> SECONDARY-TABLE-4 - da sistemare  {{anno}} xxxx xxxxxxxxxxxxx xxxxx xxxxx xxxxxxxxxxxxxxxxxxx </h1>

<table class="table table-striped table-bordered dataTables-expand secondary-table">
	<thead>
		<tr>
			<th></th>
			<th>Nome prestazione</th>
			<th>Totale</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Assegno mensile per invalidi civili parziali minorenni</td>
			<td>5.655,00 €</td>
		</tr>
		<tr>
			<td></td>
			<td> Indennità di accompagnamento per invalidi civili totalmente inabili</td>
			<td>12.344,55 €</td>
		</tr>
	</tbody>
</table>
