<div class="row wrapper border-bottom white-bg page-heading">
    <header-component tipo="'Dettaglio'" titolo="domanda.OperazioneInCorso" paths="[{href:'index.html',descrizione:'HOME'}, {href:'nuova_domanda.html',descrizione:'RICERCA_ASSISTITO'}]"
        active="{{OperazioneInCorso | translate }}"></header-component>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <dati-assistito-component dati-assistito="datiAssistito"></dati-assistito-component>

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> {{'DATI_ANAGRAFICI_ASSISTITO' | translate }}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display:none;">
                    <!-- Informazioni Da Prelevare dall'anagrafica -->
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>{{'NOME' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.Nome">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{'COGNOME' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.Cognome">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{'COGNOME_ACQUISITO' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.CognomeAcquisito">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{'CODICE_FISCALE' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.CodiceFiscale">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{'SESSO' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.Sesso">
                        </div>
                        <div class="col-md-2 form-group">
                            <label>{{'DATA_DI_NASCITA' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.DataDiNascita">
                        </div>
                        <div class="col-md-2 form-group">
                            <label>{{'LUOGO_DI_NASCITA' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.LuogoDiNascita">
                        </div>
                        <div class="col-md-2 form-group">
                            <label>{{'CITTADINANZA' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.Cittadinanza">
                        </div>
                        <div class="col-md-2 form-group">
                            <label>{{'EXTRACOMUNITARIO' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.Extracomunitario">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{'PERMESSO_DI_SOGGIORNO' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.PermessoDiSoggiorno">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{'DATA_DECESSO' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.DataDiDecesso">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{'RESIDENZA' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.Residenza">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{'DOMICILIO' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.Domicilio">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{'ALTRI_INDIRIZZI' | translate}}</label>
                            <input type="text" readonly class="form-control" ng-model="datiAssistito.AltriIndirizzi">
                        </div>
                    </div>
                </div>
            </div>

            <!-- ------------------------------------------------------------------------ -->
            <!-- FINE INIZIO DOMANDA -->
            <!-- ------------------------------------------------------------------------ -->

            <form name="domandaForm" ng-submit="submitForm(domandaForm.$valid)" novalidate>
                <!-- ------------ -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ "DATI_DOMANDA" | translate }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="m-b-sm form-group">
                            <div>
                                <label>
                                    {{ "TIPOLOGIA_DI_ASSISTENZA_RICHIESTA" | translate }}
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="checkbox-inline">
                                        <label>
                                            <input icheck ng-model="domanda.TipoDomanda" type="radio" name="tipoDomanda"
                                                value="77" ng-checked="domanda.TipoDomanda == '77'" disabled> <i></i>
                                            77
                                        </label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <label>
                                            <input icheck ng-model="domanda.TipoDomanda" type="radio" name="tipoDomanda"
                                                value="88" ng-checked="domanda.TipoDomanda == '88'" disabled> <i></i>
                                            88
                                        </label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <label>
                                            <input icheck ng-model="domanda.TipoDomanda" type="radio" name="tipoDomanda"
                                                value="99" ng-checked="domanda.TipoDomanda == '99'" disabled> <i></i>
                                            99
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label>{{ "DATA" | translate }} (*)</label>
                                <div class="input-group date">
                                    <input type="text" name="dataDomanda" class="form-control js-date" ng-model="domanda.DataDomanda"
                                        placeholder="dd/MM/yyyy" required><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <p ng-show="domandaForm.dataDomanda.$invalid && !domandaForm.dataDomanda.$pristine"
                                    class="help-block">{{ "CAMPO_OBBLIGATORIO" | translate }}.</p>

                            </div>

                            <!-- <div class="col-md-4 form-group"><label>Data (*)</label> <input type="text" placeholder="dd/MM/yyyy" class="form-control"></div> -->
                            <div class="col-md-4 form-group">
                                <label>{{ "EMAIL" | translate }}</label>
                                <input type="email" name="email" ng-model="domanda.EmailDomanda" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                                    class="form-control">
                                <p ng-show="domandaForm.email.$invalid && !domandaForm.email.$pristine" class="help-block">{{ "EMAIL_NON_VALIDA" | translate }}.</p>
                            </div>

                            <div class="col-md-2 form-group"><label>{{ "NUMERO_PROTOCOLLO" | translate }}</label>
                                <input ng-model="domanda.NumeroProtocollo" type="text" class="form-control intero"
                                    readonly="">

                            </div>
                            <div class="col-md-1 form-group"><label>{{ "DATA" | translate }}</label>
                                <input type="text" class="form-control js-date" readonly="">
                            </div>
                            <div class="col-md-1 ">
                                <label>&nbsp;</label>
                                <span class="input-group-btn"> <button type="button" ng-click="datiDomandaCerca()"
                                        class="btn btn-primary btn-sm">{{'CERCA' | translate }}</button></span>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4 form-group"><label>{{ "DELEGA_PATRONATO" | translate }}</label>
                                <select class="form-control m-b" name="account" ng-model="domanda.DelegaPatronato">
                                    <option>ACLI Bolzano</option>
                                    <option>ACLI Merano</option>
                                    <option>INAS Bolzano</option>
                                    <option>EPACA Bolzano</option>
                                </select>
                            </div>
                            <div class="col-md-8 form-group"><label>{{ "PROVENIENZA" | translate }} (*)</label>
                                <select class="form-control m-b" ng-model="domanda.Provenienza" name="account">
                                    <option value="1">Commissione sanitaria dell’Azienda Sanitaria (1)</option>
                                    <option value="2">Presentata direttamente (2)</option>
                                    <option value="3">Fuori provincia (3)</option>
                                    <option value="4">Commissione del comprensorio sanitario di Bolzano (4)</option>
                                    <option value="5">Commissione del comprensorio sanitario di Merano (5)</option>
                                    <option value="6">Commissione del comprensorio sanitario di Bressanone (6)</option>
                                    <option value="7">Commissione del comprensorio sanitario di Brunico (7)</option>
                                    <option value="8">Commissione ricorsi (8)</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 form-separator"></div>
                        </div>

                        <!-- Legale Rappresentante -->
                        <div>
                            <h3 class="m-t-lg">{{'LEGALE_RAPPRESENTANTE' | translate }}</h3>
                            <div class="m-b-sm">
                                <strong>{{domanda.LegaleRappresentante.Nome}} {{domanda.LegaleRappresentante.Cognome}} - {{domanda.LegaleRappresentante.CodiceFiscale}}</strong><button type="button" class="m-l-sm btn btn-xs btn-primary  "
                                    data-toggle="modal" data-target="#modalAnagrafica"><i class="fa fa-pencil"></i></button>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group"><label>{{'NUMERO_DECRETO' | translate }}</label>
                                    <input type="email" class="form-control"></div>
                                <div class="col-md-6 form-group">
                                    <label>{{'DATA_DECRETO' | translate }}</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control js-date" ng-model="domanda.LegaleRappresentante.DataDecreto"
                                            placeholder="{{'DDMMYYYY' | translate }}"><span class="input-group-addon "><i
                                                class="fa fa-calendar"></i></span>
                                    </div>

                                </div>
                                <div class="col-md-6 form-group"><label>{{'TIPO_DECRETO' | translate }}</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input icheck ng-model="domanda.LegaleRappresentante.TipoDecreto"
                                                        value="Provvisorio" type="radio" name="pippo1" ng-checked="domanda.LegaleRappresentante.TipoDecreto == 'Provvisorio'">
                                                    {{'PROVVISORIO' | translate }}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input icheck ng-model="domanda.LegaleRappresentante.TipoDecreto"
                                                        value="Definitivo" type="radio" name="pippo1" ng-checked="domanda.LegaleRappresentante.TipoDecreto == 'Definitivo'">
                                                    <i></i>
                                                    {{'DEFINITIVO' | translate }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label>{{'SCADENZA_DECRETO' | translate }}</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control js-date" ng-model="domanda.LegaleRappresentante.ScadenzaDecreto"
                                            placeholder="{{'DDMMYYYY' | translate }}"><span class="input-group-addon"><i
                                                class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-separator"></div>
                        </div>

                        <!-- Altro Legale Rappresentante -->
                        <div>
                            <h3 class="m-t-lg">{{'ALTRO_LEGALE_RAPPRESENTANTE' | translate }}</h3>
                            <div class="m-b-sm">
                                <span>{{'CERCA_ANAGRAFICA' | translate }} </span><button type="button" class="m-l-sm btn btn-xs btn-primary  "
                                    data-toggle="modal" data-target="#modalAnagrafica"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group"><label>{{'NUMERO_DECRETO' | translate }}</label>
                                    <input type="text" class="form-control"></div>
                                <div class="col-md-6 form-group">
                                    <label>{{'DATA_DECRETO' | translate }}</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control js-date" ng-model="domanda.AltroLegaleRappresentante.DataDecreto"
                                            placeholder="{{'DDMMYYYY' | translate }}"><span class="input-group-addon"><i
                                                class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group"><label>{{'TIPO_DECRETO' | translate }}</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input icheck ng-model="domanda.AltroLegaleRappresentante.TipoDecreto"
                                                        value="Provvisorio" type="radio" name="pippo2" ng-checked="domanda.AltroLegaleRappresentante.TipoDecreto == 'Provvisorio'">
                                                    {{'PROVVISORIO' | translate }}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input icheck ng-model="domanda.AltroLegaleRappresentante.TipoDecreto"
                                                        value="Definitivo" type="radio" name="pippo2" ng-checked="domanda.AltroLegaleRappresentante.TipoDecreto == 'Definitivo'">
                                                    <i></i>
                                                    {{'DEFINITIVO' | translate }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>{{'SCADENZA_DECRETO' | translate }}</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control js-date" ng-model="domanda.AltroLegaleRappresentante.ScadenzaDecreto"
                                            placeholder="{{'DDMMYYYY' | translate }}"><span class="input-group-addon"><i
                                                class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-separator"></div>
                        </div>

                       <!-- Curatore -->
                        <div>
                            <h3 class="m-t-lg">{{'CURATORE' | translate }}</h3>
                            <div class="m-b-sm">
                                <span>{{'CERCA_ANAGRAFICA' | translate }} </span><button type="button" class="m-l-sm btn btn-xs btn-primary  "
                                    data-toggle="modal" data-target="#modalAnagrafica"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-separator"></div>
                        </div>
                        <div>
                            <h3 class="m-t-lg">{{'COMUNICAZIONI' | translate }} (*)</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input icheck ng-model="domanda.Comunicazioni" value="Italiano" type="radio"
                                                name="lang" ng-checked="domanda.Comunicazioni == 'Italiano'">
                                            <i></i>
                                            {{'ITALIANO' | translate }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input icheck ng-model="domanda.Comunicazioni" value="Tedesco" type="radio"
                                                name="lang" ng-checked="domanda.Comunicazioni == 'Tedesco'">
                                            <i></i>
                                            {{'TEDESCO' | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-separator"></div>
                        </div>

                        <!-- ------------ -->
                        <div>
                            <h3 class="m-t-lg">{{'MODALITA_DI_PAGAMENTO' | translate }}</h3>
                            <div class="row">
                                <div class="col-md-12 m-b-md">
                                    <label class="radio-inline">
                                        <input icheck ng-model="domanda.ModalitaDiPagamento" type="radio" value="Banca"
                                            name="payment" ng-checked="domanda.ModalitaDiPagamento == 'Banca'">
                                        <strong> {{'BONIFICO_BANCARIO' | translate }}</strong>
                                    </label>
                                    <label class="radio-inline m-l-lg">
                                        <input icheck ng-model="domanda.ModalitaDiPagamento" type="radio" value="Posta"
                                            name="payment" ng-checked="domanda.ModalitaDiPagamento == 'Posta'">
                                        <strong> {{'BONIFICO_DOMICILIATO_ALLA_POSTA' | translate }}</strong>
                                    </label>
                                </div>
                                <!-- ---------------- Banca -->
                                <div ng-if="domanda.ModalitaDiPagamento === 'Banca'" class="col-md-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <label>{{'IBAN' | translate }}</label>
                                                <input ng-model="domanda.ModalitaDiPagamento.Banca.IBAN" type="text"
                                                    class="form-control intero">

                                            </div>
                                            <div class="col-md-3">
                                                <label>{{'CODICE_BIC_SWIFT | translate }}</label>
                                                <input ng-model="domanda.ModalitaDiPagamento.Banca.BICSWIFT" type="text"
                                                    class="form-control intero">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>{{'INTESTATARIO_CONTO | translate }}</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>{{'NOTE' | translate }}</label>
                                        <textarea name="" id="" ng-model="domanda.ModalitaDiPagamento.Banca.Note" class="form-control"></textarea>
                                    </div>
                                </div>

                                <!-- ---------------- Posta -->
                                <div ng-if="domanda.ModalitaDiPagamento === 'Posta'" class="col-md-12">
                                    <div class="form-group">
                                        <label>{{'CODICE_FISCALE' | translate }}</label>
                                        <input type="text" ng-model="domanda.ModalitaDiPagamento.Posta.CodiceFiscale"
                                            class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>{{'DELEGATO_DELL_INCASSO' | translate }}</label>
                                        <input type="text" ng-model="domanda.ModalitaDiPagamento.Posta.DelegatoIncasso"
                                            class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>{{'NOTE' | translate }}</label>
                                        <textarea name="" id="" ng-model="domanda.ModalitaDiPagamento.Posta.Note" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- ------------ -->
                            <div class="row">
                                <div class="col-md-12 form-separator"></div>
                            </div>
                            <!-- ------------ -->
                            <div class="row">
                                <h3 class="m-t-lg">{{'ASSOCIAZIONI_DI_CATEGORIA' | translate }}</h3>
                                <div>
                                    <table class="table table-bordered dataTables-paged">
                                        <thead>
                                            <tr>
                                                <th class="col-md-3">{{'TIPO_ASSOCIAZIONE' | translate }}</th>
                                                <th class="col-md-3">{{'DATA_INIZIO_ISCRIZIONE' | translate }}</th>
                                                <th class="col-md-3">{{'DATA_FINE_ISCRIZIONE' | translate }}</th>
                                                <th class="col-md-3">{{'RITENUTA_DI_CATEGORIA_QUOTA_MENSILE' |
                                                    translate }}</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in domanda.AssociazioniDiCategoria" class="toolbox-parent-row">
                                                <td>{{item.TipoAssociazione}}</td>
                                                <td>{{item.DataInizioIscrizione}}</td>
                                                <td>{{item.DataFineIscrizione}}</td>
                                                <td class="text-right">{{item.RitenutaDiAcconto | currency }}</td>
                                                <td style="width:60px" class="toolbox-row">
                                                    <a title="visualizza">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                    <a title="elimina">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <div class="text-right  m-b-sm">

                                        <button type="button" class="btn btn-primary btn-sm" ng-click="aggiungiIscrizione()">{{
                                            'AGGIUNGI_ISCRIZIONE' | translate }}</button>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-separator"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label class="m-t-lg">{{'NOTE' | translate }}</label>
                                    <textarea name="" id="" ng-model="domanda.AssociazioniDiCategoria.Note" class="form-control"></textarea>
                                </div>
                            </div>

                        </div>
                        <!-- ------------ -->

                    </div>
                </div>
                <!-- ------------ -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{'DATI_VERBALE' | translate }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <verbale-component name="Camillo" value="myObj" verbale="domanda.AziendaSanitaria"></verbale-component>
                </div>
                <!-- ------------ -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{'DATA_DECORRENZA_DEL_DIRITTO_AL_PAGAMENTO' | translate }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6 form-group" id="data_decorrenza">
                                <label>{{'DATA' | translate }}</label>
                                <div class="input-group date">
                                    <input ng-model="domanda.AziendaSanitaria.DataDecorrenzaPagamento" type="text"
                                        class="form-control js-date" placeholder="dd/MM/yyyy">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ------------ -->
                <div class="m-t-md">
                    <div class="button-bar text-right">
                        <a class="btn btn-sm btn-white" ui-sref="domande.nuova_domanda">{{'ANNULLA' | translate }}</a>
                        <a class="btn btn-sm btn-primary" ng-click="visualizzaDomanda()">{{'INSERISCI' | translate }}</a>
                    </div>
                </div>
                <!-- ------------ -->
            </form>
            <!-- ------------------------------------------------------------------------ -->
            <!-- FINE FORM DOMANDA -->
            <!-- ------------------------------------------------------------------------ -->

        </div>
    </div>
</div>
<div class="modal inmodal" id="modalAnagrafica" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-search"></i> {{ 'RICERCA_DATI_ANAGRAFICI' | translate }}</h4>
                <small class="font-bold">{{ 'INSERISCI_I_DATI_E_AVVIA_LA_RICERCA' | translate }}</small>
            </div>
            <div class="modal-body">
                <ricerca-component tipo-ricerca="'Anagrafe-Curatore'" on-save="onSaveCar($ctrl.datiAssistito)"
                    dati-assistito="$ctrl.datiAssistito"></ricerca-component>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" data-dismiss="modal">{{ 'INSERISCI_NUOVA_ANAGRAFICA' |
                    translate }}</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
            </div>
        </div>
    </div>
</div>

// Custom scripts
<script>

    $(document).ready(function () {


        $("#filtri_deceduto").hide();

        $("input[name$='payment']").on("ifChecked", function () {
            var test = $(this).val();

            if (test == 1) {
                $("#iban").show();
                $("#posta").hide();
            } else {
                $("#iban").hide();
                $("#posta").show();
            }
        });

        setTimeout(function () {
            $('.input-group.date').datepicker({
                todayBtn: "linked",
                format: 'dd/mm/yyyy',
                keyboardNavigation: false,
                forceParse: true,
                calendarWeeks: true,
                autoclose: true
                //orientation: 'bottom left'
            });
        }, 500);

        $('.ibox-title').click(function () {
            var cl = $(this).find('.collapse-link');
            var ibox = cl.closest('div.ibox');
            var button = cl.find('i');
            var content = ibox.find('div.ibox-content');
            content.slideToggle(200);
            button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
            ibox.toggleClass('').toggleClass('border-bottom');
            setTimeout(function () {
                ibox.resize();
                ibox.find('[id^=map-]').resize();
            }, 50);
        });

    });


</script>