<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Elabora liquidazione mensile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li class="active">
                <strong>Elabora liquidazione mensile</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" id="filters">
                <div class="ibox-title">
                    <h5> Periodo di riferimento per elaborare la liquidazione mensile </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Inserire il mese di riferimento per elaborazione della liquidazione</label>
                            <div>
                                <div class="input-group date m-t-xs">
                                    <input type="text" class="form-control" value="Luglio 2015"><span class="input-group-addon"><i
                                            class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left m-t-lg">
                            <button class="btn btn-primary btn-sm" id="search">Cerca</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins m-t-lg" id="posResults" style="display:none;">
                <div class="ibox-title">
                    <h5> Elenco posizioni estratte </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <table class="table table-striped table-bordered" id="posTable">
                                <thead>
                                    <tr>
                                        <th class="col-md-2">Cognome</th>
                                        <th class="col-md-2">Nome</th>
                                        <th class="col-md-2">Codice fiscale</th>
                                        <th class="col-md-2">Data di nascita</th>
                                        <th class="col-md-2 text-center">
                                            <div class="checkbox"><input icheck ng-model="" type="checkbox" name="select_all" value="1"> <i></i></div>
                                        </th>
                                        <th class="col-md-2 text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Rossi</td>
                                        <td>Maria</td>
                                        <td>RSSMRO70A41F2052</td>
                                        <td>12/07/1986</td>
                                        <td class="text-center">
                                            <div class="checkbox"><input icheck ng-model="" type="checkbox"> <i></i></div>
                                        </td>
                                        <td class="text-center"><a ui-sref="liquidazioni.visualizza_posizione"><i class="fa fa-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Bianchi</td>
                                        <td>Paolo</td>
                                        <td>BNCPLO54P23C567L</td>
                                        <td>23/09/1954</td>
                                        <td class="text-center">
                                            <div class="checkbox"><input icheck ng-model="" type="checkbox"> <i></i></div>
                                        </td>
                                        <td class="text-center"><a ui-sref="liquidazioni.visualizza_posizione"><i class="fa fa-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Verdi</td>
                                        <td>Marco</td>
                                        <td>VRDMRC43H24C567A</td>
                                        <td>24/12/1943</td>
                                        <td class="text-center">
                                            <div class="checkbox"><input icheck ng-model="" type="checkbox"> <i></i></div>
                                        </td>
                                        <td class="text-center"><a ui-sref="liquidazioni.visualizza_posizione"><i class="fa fa-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Rossi</td>
                                        <td>Luca</td>
                                        <td>RSSLCA34G08T564I</td>
                                        <td>08/07/1934</td>
                                        <td class="text-center">
                                            <div class="checkbox"><input icheck ng-model="" type="checkbox"> <i></i></div>
                                        </td>
                                        <td class="text-center"><a ui-sref="liquidazioni.visualizza_posizione"><i class="fa fa-eye"></i></a></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary btn-sm" id="posRun">Esegui liquidazione mensile</button>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins m-t-lg" id="done" style="display:none;">
                <div class="ibox-title">
                    <h5> Importi da liquidare </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h3>Luglio 2015</h3>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <table class="table table-striped table-bordered" id="doneTable">
                                <thead>
                                    <tr>
                                        <th>Assistito</th>
                                        <th>Prestazioni da liquidare</th>
                                        <th>+ Tredicesima</th>
                                        <th>+ o - Conguaglio</th>
                                        <th>- Ritenute di categoria</th>
                                        <th>+ Riaccrediti</th>
                                        <th>- Recuperi da compensazione</th>
                                        <th>Totale mensile da liquidare</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Maria Rossi</td>
                                        <td>€ 1.300,00</td>
                                        <td>+ € 800,00</td>
                                        <td class="negative">- € 700,00</td>
                                        <td class="negative">- € 700,00</td>
                                        <td>+ € 1.456,00</td>
                                        <td class="negative">- € 345,00</td>
                                        <td>€ 1.811,00</td>
                                        <td class="text-center"><a href="#"><i class="fa fa-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Paolo Bianchi</td>
                                        <td>€ 1.300,00</td>
                                        <td>+ € 800,00</td>
                                        <td>+ € 700,00</td>
                                        <td></td>
                                        <td></td>
                                        <td class="negative">- € 345,00</td>
                                        <td>€ 2.455,00</td>
                                        <td class="text-center"><a href="#"><i class="fa fa-eye"></i></a></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-right m-t-lg col-md-12">
                            <button class="btn btn-primary btn-sm main-button-padding" id="print">Stampa</button>
                            <button class="btn btn-primary btn-sm main-button-padding" id="save">Conferma</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#search').click(function () {
        $("#posResults").show();
    });

    $('#posRun').click(function () {
        $("#filters").hide();
        $("#posResults").hide();
        $("#done").show();
    });

    $(document).ready(function () {

        $('#doneTable').DataTable({
            'columnDefs': [{
                'targets': 8,
                'searchable': false,
                'orderable': false,
            }],
            'searching': false,
            'responsive': true,
            'lengthChange': false
        });


        // Array holding selected row IDs
        var rows_selected = [];
        var table = $('#posTable').DataTable({
            'columnDefs': [{
                'targets': [4, 5],
                'searchable': false,
                'orderable': false,
                'width': '1%',
                'className': 'dt-body-center',
                // 'render': function (data, type, full, meta){
                //     return '<div class="checkbox"><input icheck ng-model="" type="checkbox"> <i></i></div>';
                //}
            }],
            'searching': false,
            'responsive': true,
            'lengthChange': false,
            'order': [[0, 'asc']],
            'rowCallback': function (row, data, dataIndex) {
                // Get row ID
                var rowId = data[2];

                // If row ID is in the list of selected row IDs
                if ($.inArray(rowId, rows_selected) !== -1) {
                    $(row).find('input[type="checkbox"]').prop('checked', true);
                    $(row).addClass('selected');
                }
            }
        });

        $('input[name="select_all"]').on('ifChecked', function (event) {
            $('input').iCheck('check');
        });

        $('input[name="select_all"]').on('ifUnchecked', function (event) {
            $('input').iCheck('uncheck');
        });

    });
</script>