<style>
    .modal-dialog { min-width: 700px;}
</style>

<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'GESTIONE_INDIRIZZI' | translate }}</h4>
        <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
    </div>
    <div class="modal-body">

        <div class="row">

            <!-- ---------------- -->

            <div class="col-md-4 form-group">
                <label>{{ "TIPO_INDIRIZZO" | translate}}</label>
                <select class="form-control m-b" name="TipoIndirizzo" ng-model="Tmp.TipoIndirizzo" ng-disabled="$visAnaCtrl.editDatiAssistito"
                    class="form-control">
                    <option></option>
                    <option>Domicilio</option>
                    <option>Residenza</option>
                    <option>option 3</option>
                    <option>option 4</option>
                </select>
            </div>

            <!-- ---------------- -->

            <div class="col-md-4 form-group">
                <label>{{ "ATTUALE" | translate}}</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label>
                                <input icheck name="IndirizzoAttuale" ng-model="Tmp.IndirizzoAttuale" type="radio"
                                    value="Si" ng-readonly="$visAnaCtrl.editDatiAssistito" ng-checked="datiAssistito.IndirizzoAttuale=='Si'"
                                    class="form-control">
                                <i></i>
                                Si
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label>
                                <input icheck name="IndirizzoAttuale" ng-model="Tmp.IndirizzoAttuale" type="radio"
                                    value="No" name="IndirizzoAttuale" ng-readonly="$visAnaCtrl.editDatiAssistito"
                                    ng-checked="datiAssistito.IndirizzoAttuale=='No'" class="form-control">
                                <i></i>
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ---------------- -->

            <div class="col-md-4 form-group">
                <label>{{ "ATTIVO" | translate}}</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label>
                                <input icheck name="IndirizzoAttivo" ng-model="Tmp.IndirizzoAttivo" type="radio" value="Si"
                                    ng-readonly="$visAnaCtrl.editDatiAssistito" ng-checked="Tmp.IndirizzoAttivo=='Si'"
                                    class="form-control">
                                <i></i>
                                Si
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label>
                                <input icheck name="IndirizzoAttivo" ng-model="Tmp.IndirizzoAttivo" type="radio" value="No"
                                    ng-readonly="$visAnaCtrl.editDatiAssistito" ng-checked="datiAssistito.IndirizzoAttivo=='No'"
                                    class="form-control">
                                <i></i>
                                No
                            </label>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- --------- -->

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-md-2">Nazione</th>
                    <th class="col-md-3">Comune</th>
                    <th class="col-md-2">C.A.P.</th>
                    <th class="col-md-3">Frazione</th>
                    <th class="col-md-3">Via</th>
                    <th class="col-md-3">Civico</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in datiAssistito.Indirizzi">
                    <td>{{item.Nazione}}</td>
                    <td>{{item.Comune}}</td>
                    <td>{{item.Cap}}</td>
                    <td>{{item.Frazione}}</td>
                    <td>{{item.Via}}</td>
                    <td>{{item.Civico}}</td>
                    <td class="text-center">
                        <div class="checkbox">
                            <input icheck type="radio" ng-model="item.UsaIndirizzo" name="UsaIndirizzo" value="Si"
                                ng-checked="item.UsaIndirizzo=='Si'"> <i></i></div>
                    </td>

                </tr>
            </tbody>
        </table>

        <!-- --------- -->

        <div class="row text-right">
            <div class="col-sm-12">
                <button class="btn btn-primary" id="anagSearch" ng-click="usaIndirizzo()">{{ 'USA_INDIRIZZO'
                    |
                    translate }}</button>
            </div>
        </div>

        <!-- --------- -->

        <div class="panel panel-default m-t-lg">
            <div class="panel-heading pointer collapsed" data-toggle="collapse" data-target="#collapseIndirizzoCodificato">
                {{ 'INDIRIZZO_CODIFICATO' | translate }}
                <div class="panel-toolbox">
                    <i class="fa fa-chevron-down"></i>
                </div>
            </div>
            <div id="collapseIndirizzoCodificato" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>{{ "NAZIONE" | translate}}</label>
                            <select name="indirizzoCodificatoNazione" ng-model="Tmp.IndirizzoCodificato.Nazione"
                                ng-disabled="$visAnaCtrl.editDatiAssistito" ng-options="nazione.name for nazione in nazioni"
                                class="form-control" required>
                                <option value="">Seleziona nazione</option>
                            </select>

                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{ "COMUNE" | translate}}</label>
                            <select name="indirizzoCodificatoComune" ng-model="Tmp.IndirizzoCodificato.Comune"
                                ng-disabled="$visAnaCtrl.editDatiAssistito" ng-options="comune.name for comune in comuni"
                                class="form-control" required>
                                <option value="">Seleziona comune</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{ "CAP" | translate}}</label>
                            <input name="indirizzoCodificatoCap" type="text" ng-model="Tmp.IndirizzoCodificato.Cap"
                                ng-readonly="$visAnaCtrl.editDatiAssistito" class="form-control intero">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{ "FRAZIONE" | translate}}</label>
                            <select name="indirizzoCodificatoFrazione" ng-model="Tmp.IndirizzoCodificato.Frazione"
                                ng-disabled="$visAnaCtrl.editDatiAssistito" ng-options="frazione.name for frazione in frazioni"
                                class="form-control" required>
                                <option value="">Seleziona frazione</option>
                            </select>

                        </div>
                        <div class="col-md-8 form-group">
                            <label>{{ "VIA" | translate}}</label>
                            <select name="indirizzoCodificatoVia" ng-model="Tmp.IndirizzoCodificato.Via" ng-disabled="$visAnaCtrl.editDatiAssistito"
                                ng-options="via.name for via in vie" class="form-control" required>
                                <option value="">Seleziona via</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- --------- -->

        <div class="panel panel-default m-t-lg">
            <div class="panel-heading pointer collapsed" data-toggle="collapse" data-target="#collapseIndirizzoNonCodificato">
                {{ 'INDIRIZZO_NON_CODIFICATO' | translate }}
                <div class="panel-toolbox">
                    <i class="fa fa-chevron-down"></i>
                </div>
            </div>
            <div id="collapseIndirizzoNonCodificato" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>{{ "LOCALITA" | translate}}</label>
                            <input name="indirizzoNonCodificatoLocalita" type="text" ng-model="Tmp.IndirizzoNonCodificato.Localita"
                                ng-readonly="$visAnaCtrl.editDatiAssistito" class="form-control intero">

                            <!-- <select name="indirizzoNonCodificatoLocalita" ng-model="Tmp.IndirizzoNonCodificato.Localita"
                                ng-disabled="$visAnaCtrl.editDatiAssistito" ng-options="localita.name for localita in localitas"
                                class="form-control" required>
                                <option value="">Seleziona localita</option>
                            </select> -->

                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{ "CAP" | translate}}</label>
                            <input name="indirizzoNonCodificatoCap" type="text" ng-model="Tmp.IndirizzoNonCodificato.Cap"
                                ng-readonly="$visAnaCtrl.editDatiAssistito" class="form-control intero">

                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{ "MASO" | translate}}</label>
                            <input name="indirizzoNonCodificatoMaso" type="text" ng-model="Tmp.IndirizzoNonCodificato.Maso"
                                ng-readonly="$visAnaCtrl.editDatiAssistito" class="form-control">

                        </div>
                        <div class="col-md-10 form-group">
                            <label>{{ "VIA" | translate}}</label>
                            <input name="indirizzoNonCodificatoVia" type="text" ng-model="Tmp.IndirizzoNonCodificato.Via"
                                ng-readonly="$visAnaCtrl.editDatiAssistito" class="form-control intero">

                            <!-- <select name="indirizzoNonCodificatoVia" ng-model="Tmp.IndirizzoNonCodificato.Via"
                                ng-disabled="$visAnaCtrl.editDatiAssistito" ng-options="via.name for via in vie" class="form-control"
                                required>
                                <option value="">Seleziona via</option>
                            </select> -->

                        </div>
                        <div class="col-md-12 form-group">
                            <label>{{ "INDIRIZZO_COMPLETO" | translate}}</label>
                            <input name="indirizzoNonCodificatoIndirizzoCompleto" type="text" ng-model="Tmp.IndirizzoNonCodificato.IndirizzoCompleto"
                                ng-readonly="$visAnaCtrl.editDatiAssistito" class="form-control">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- --------- -->

        <div class="row">
            <div class="col-md-4 form-group">
                <label>{{ "N_CIVICO" | translate}}</label>
                <input name="datiAssistito.NroCivico" type="text" ng-model="Tmp.NroCivico" ng-readonly="$visAnaCtrl.editDatiAssistito"
                    class="form-control intero">
            </div>
            <div class="col-md-4 form-group">
                <label>{{ "INIZIO_VALIDITA" | translate}}</label>
                <input name="datiAssistito.InizioValidita" type="text" ng-model="Tmp.InizioValidita" ng-readonly="$visAnaCtrl.editDatiAssistito"
                    class="form-control js-date">

            </div>
            <div class="col-md-4 form-group">
                <label>{{ "FINE_VALIDITA" | translate}}</label>
                <input name="datiAssistito.FineValidita" type="text" ng-model="Tmp.FineValidita" ng-readonly="$visAnaCtrl.editDatiAssistito"
                    class="form-control js-date">
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="modalSave('Indirizzi salvati!','Tutti gli indirizzi sono stati salvati correttamente.')">{{
            'SALVA' | translate }}</button>
        <button type="button" class="btn btn-primary" ng-click="modalInstance.close()">{{ 'CHIUDI' | translate }}</button>
    </div>
</div>

<script>
     // Custom scripts
    $(document).ready(function () {

        $('.panel').click(function () {
            var cl = $(this).find('.panel-heading');
            var ibox = cl.closest('div.panel-toolbox');
            var button = cl.find('i');
            var content = ibox.find('div.panel-collapse');
            content.slideToggle(200);
            button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
            ibox.toggleClass('').toggleClass('border-bottom');
            setTimeout(function () {
                ibox.resize();
                ibox.find('[id^=map-]').resize();
            }, 50);
        });

    })
</script>