<!-- Custom scripts -->
<script>

    $(document).ready(function () {


        setTimeout(function () {
            $('.input-group.date').datepicker({
                todayBtn: "linked",
                format: 'dd/mm/yyyy',
                keyboardNavigation: false,
                forceParse: true,
                calendarWeeks: true,
                autoclose: true,
                language: window.language

                //orientation: 'bottom left'
            });
        }, 500);


    });


</script>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row wrapper border-bottom white-bg page-heading">
        <header-component tipo="'Dettaglio'" titolo="'PREDISPONI_MODIFICA_IMPORTO_DA_RECUPERARE'" paths="[{href:'index.html',descrizione:'HOME'}, {href:'elabora_liquidazione_mensile.html',descrizione:'ELABORA_LIQUIDAZIONE_MENSILE'}]"></header-component>
    </div>

</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <dati-assistito-component dati-assistito="datiAssistito"></dati-assistito-component>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5> {{ 'PREDISPONI_MODIFICA_IMPORTO_DA_RECUPERARE' | translate }} </h5>
                </div>

                <div class="ibox-content">
                    <div class="row">

                        <div class="col-md-4 form-group">


                            <label>{{ 'DATA' |translate }} (*)</label>
                            <div>
                                <div class="input-group date m-t-xs">
                                    <input type="text" class="form-control js-date" ng-model="Tmp.Data">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4 form-group">
                            <label>Tipo di recupero (*)</label>
                            <select class="form-control">
                                <option>Seleziona</option>
                                <option>Compensazione</option>
                                <option>Recupero esterno</option>
                                <option>ESPRO</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{ 'DATA_SCADENZA_RESTITUZIONE' |translate }} (*)</label>
                            <div>
                                <div class="input-group date m-t-xs">
                                    <input type="text" class="form-control js-date" ng-model="Tmp.DataScadenzaRestituzione">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>{{ 'CALCOLO_INTERESSI' |translate }}</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <input icheck ng-model="Tmp.CalcoloInteressi" type="radio" name="CalcoloInteressi"
                                                value="Si" ng-checked="Tmp.CalcoloInteressi == 'Si'"> <i></i>
                                            {{ 'SI' | translate }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <input icheck ng-model="Tmp.CalcoloInteressi" type="radio" name="CalcoloInteressi"
                                                value="No" ng-checked="Tmp.CalcoloInteressi == 'No'"> <i></i>
                                            {{ 'NO' | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 style="text-transform: uppercase;">{{ 'RATEIZZAZIONE' |translate }}</h3>

                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>{{ 'RATEIZZAZIONE' |translate }}</label>
                            <div class="row" id="payment-installments">
                                <div class="col-md-3">

                                    <div class="checkbox">
                                        <label>
                                            <input icheck ng-model="Tmp.Rateizzazione" type="radio" name="Rateizzazione"
                                                value="Si" ng-checked="Tmp.Rateizzazione == 'Si'"> <i></i>
                                            {{ 'SI' | translate }}
                                        </label>
                                    </div>

                                </div>

                                <div class="col-md-3">

                                    <div class="checkbox">
                                        <label>
                                            <input icheck ng-model="Tmp.Rateizzazione" type="radio" name="Rateizzazione"
                                                value="No" ng-checked="Tmp.Rateizzazione == 'No'"> <i></i>
                                            {{ 'NO' | translate }}
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 form-group">
                            <label>{{ 'IMPORTO_RATA_MENSILE' | translate }}</label>
                            <div class="input-group">
                                <input type="text" class="form-control installment text-right importo" ng-model="Tmp.ImportoRataMensile"
                                    ng-currency currency-symbol="" ng-disabled="Tmp.Rateizzazione == 'No'">
                                <span ng-class="{euroDisabled : Tmp.Rateizzazione == 'No'}" class="input-group-addon"><i
                                        class="fa fa-euro"></i></span>
                            </div>
                        </div>

                    </div>

                    <h3>{{'DATI_DECRETO' | translate}}</h3>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>{{ 'TIPO_DECRETO' | translate }}</label>
                            <select class="form-control installment" ng-disabled="Tmp.Rateizzazione == 'No'">
                                <option>Seleziona</option>
                                <option>Decreto per recupero</option>
                                <option>Decreto rinuncia recupero</option>
                                <option>Decreto per ricorso</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>{{ 'NUMERO_DECRETO' | translate }}</label>
                            <input type="text" class="form-control installment" ng-model="Tmp.NumeroDecreto"
                                ng-disabled="Tmp.Rateizzazione == 'No'" />
                        </div>


                        <div class="col-md-4">
                            <label>{{ 'DATA_DECRETO' | translate }}</label>
                            <div>
                                <div ng-class="{datePicherDisabled : Tmp.Rateizzazione == 'No'}" class="input-group date">
                                    <input type="text" name="dataDecretoRateizzazione" ng-model="Tmp.DataDecretoRateizzazione" ng-readonly="Tmp.Rateizzazione == 'No'"
                                        class="form-control installment js-date">
                                    <span ng-class="{datePicherDisabled : Tmp.Rateizzazione == 'No'}" class="input-group-addon js-date">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 form-separator"></div>
                    </div>
                    <div class="row m-t-lg">
                        <div class="col-md-4 form-group">
                            <label>{{ 'IMPORTO_CAPITALE_DA_RECUPERARE' | translate }} (*)</label>
                            <div class="input-group">
                                <input type="text" class="form-control text-right importo" ng-model="Tmp.ImportoCapitaleDaRecuperare"
                                    ng-currency currency-symbol="" ng-disabled="Tmp.Rateizzazione == 'No'">
                                <span ng-class="{euroDisabled : Tmp.Rateizzazione == 'No'}" class="input-group-addon"><i
                                        class="fa fa-euro"></i></span>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{ 'IMPORTO_INTERESSI_LEGALI_DA_RECUPERARE' | translate }}</label>
                            <div class="input-group">
                                <input type="text" class="form-control text-right importo" ng-model="Tmp.ImportoInteressiLegaliDaRecuperare"
                                    ng-currency currency-symbol="" ng-disabled="Tmp.Rateizzazione == 'No'">
                                <span ng-class="{euroDisabled : Tmp.Rateizzazione == 'No'}" class="input-group-addon"><i
                                        class="fa fa-euro"></i></span>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{'IMPORTO_INTERESSI_DI_RATEIZZAZIONE' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control text-right importo" ng-model="Tmp.ImportoInteressiDiRateizzazione"
                                    ng-currency currency-symbol="" ng-disabled="Tmp.Rateizzazione == 'No'">
                                <span ng-class="{euroDisabled : Tmp.Rateizzazione == 'No'}" class="input-group-addon"><i
                                        class="fa fa-euro"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group pull-right">
                            <label>{{'IMPORTO_TOTALE_DA_RECUPERARE' | translate}}</label>
                            <div class="input-group m-b">
                                <input type="text" class="form-control text-right importo" ng-model="Tmp.ImportoTotaleDaRecuperare"
                                    ng-currency currency-symbol="" ng-disabled="Tmp.Rateizzazione == 'No'">
                                <span ng-class="{euroDisabled : Tmp.Rateizzazione == 'No'}" class="input-group-addon"><i
                                        class="fa fa-euro"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-separator"></div>
                    </div>
                    <h3 class="m-t-lg">{{'RINUNCIA_ALLA_RISCOSSIONE_COATTIVA' | translate}}</h3>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label></label>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <input icheck ng-model="Tmp.RinunciaAllaRiscossioneCoattiva" type="radio" name="RinunciaAllaRiscossionecoattiva"
                                            value="Si" ng-checked="Tmp.RinunciaAllaRiscossioneCoattiva == 'Si'"> <i></i>
                                        <strong>{{ 'SI' | translate }}</strong>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <input icheck ng-model="Tmp.RinunciaAllaRiscossioneCoattiva" type="radio" name="RinunciaAllaRiscossionecoattiva"
                                            value="No" ng-checked="Tmp.RinunciaAllaRiscossioneCoattiva == 'No'"> <i></i>
                                        <strong>{{ 'NO' | translate }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{'TIPO_DECRETO' | translate}}</label>
                            <select class="form-control" ng-disabled="Tmp.RinunciaAllaRiscossioneCoattiva == 'Si'">
                                <option>Seleziona</option>
                                <option>Decreto 1</option>
                                <option>Decreto 2</option>
                                <option>Decreto 3</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{'NUMERO_DECRETO' | translate}}</label>
                            <input type="text" class="form-control" ng-disabled="Tmp.RinunciaAllaRiscossioneCoattiva == 'Si'" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>{{'DATA_DECRETO' | translate}}</label>

                            <div>
                                <div ng-class="{datePicherDisabled : Tmp.RinunciaAllaRiscossioneCoattiva == 'Si'}"
                                    class="input-group date">
                                    <input type="text" name="dataDecretoRinunciaAllaRiscossione" ng-model="Tmp.DataDecretoRinunciaAllaRiscossione"
                                        ng-readonly="Tmp.RinunciaAllaRiscossioneCoattiva == 'Si'" class="form-control installment js-date">
                                    <span ng-class="{datePicherDisabled : Tmp.RinunciaAllaRiscossioneCoattiva == 'Si'}"
                                        class="input-group-addon js-date">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-separator"></div>
                    </div>
                    <h3 class="m-t-lg">{{'ANNULLATO' | translate}}</h3>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label></label>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <input icheck ng-model="Tmp.Annullato" type="radio" name="Annullato" value="Si"
                                            ng-checked="Tmp.Annullato == 'Si'"> <i></i>
                                        <strong>{{ 'SI' | translate }}</strong>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <input icheck ng-model="Tmp.Annullato" type="radio" name="Annullato" value="Si"
                                            ng-checked="Tmp.Annullato == 'No'"> <i></i>
                                        <strong>{{ 'NO' | translate }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 form-group">
                            <label>{{'MOTIVO_ANNULLAMENTO' | translate}}</label>
                            <input type="text" class="form-control" ng-disabled="Tmp.Annullato == 'No'" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <h3>{{'NOTE' | translate}}</h3> <textarea class="notes form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-right m-t-lg col-md-12">
                            <a class="btn btn-white btn-sm main-button-padding" id="cancel" ui-sref="anagrafica.visualizza_anagrafica({datiAssistito: $ctrl.datiAssistito})"">Annulla</a>
                            <a class="
                                btn btn-primary btn-sm main-button-padding m-l-md" id="save" ng-click="salvaModulo()"
                                ui-sref="anagrafica.visualizza_anagrafica({datiAssistito: $ctrl.datiAssistito})">Salva</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>