<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'NUOVA_DOMANDA' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'RICERCA_ASSISTITO' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'TIPOLOGIA_DI_ASSISTENZA_RICHIESTA' | translate }}
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="m-b-sm form-group">
                        <div>
                            <label>

                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="checkbox-inline"><label> <input icheck ng-model="domandaAssistito.XXX" type="radio"
                                            name="a" checked> <i></i> 77 </label></div>
                                <div class="checkbox-inline"><label> <input icheck ng-model="domandaAssistito.XXX" type="radio"
                                            name="a"> <i></i>
                                        88 </label></div>
                                <div class="checkbox-inline"><label> <input icheck ng-model="domandaAssistito.XXX" type="radio"
                                            name="a"> <i></i>
                                        99 </label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'CERCA_ASSISTITO' | translate }}
                        <small>Inserisci i dati dell'assistito per vedere se esiste già una posizione aperta</small>
                    </h5>
                    <!--<div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>-->
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12 b-r m-t-lg">
                            <form role="form">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>{{ 'NOME' | translate }}</label>
                                        <input type="text" placeholder="" class="form-control" value="Maria"></div>
                                    <div class="col-md-6 form-group">
                                        <label>{{ 'COGNOME' | translate }}</label>
                                        <input type="text" placeholder="" class="form-control" value="Rossi"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>{{ 'CODICE_FISCALE' | translate }}</label>
                                        <input type="text" placeholder="" class="form-control"></div>
                                    <div class="col-md-6 form-group">
                                        <label>{{ 'DATA_DI_NASCITA' | translate }}</label>
                                        <input type="text" placeholder="dd/MM/yyyy" class="form-control"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label>
                                                <input icheck ng-model="domandaAssistito.XXX" type="checkbox" value=""
                                                    checked="">
                                                <i></i>
                                                {{ 'INCLUDI_DECEDUTI' | translate }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button" id="btnSearch"
                                        ng-click="domCtrl.find()">{{ 'CERCA' | translate }}</button>
                                </div>

                            </form>
                        </div>
                    </div>


                    <div class="row" id="searchResults" style="display:none;">
                        <div class="ordering col-sm-12 m-t-md">

                            <div class="dropdown pull-right m-l-lg">
                                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ 'ORDINAMENTO' | translate }}: A -> Z
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li><a href="#">A -> Z</a></li>
                                    <li><a href="#">Z -> A</a></li>
                                </ul>
                            </div>

                            <div class="dropdown pull-right">
                                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ 'ORDINA_PER' | translate }}: {{ 'NOME' | translate }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">{{ 'NOME' | translate }}</a></li>
                                    <li><a href="#">{{ 'CODICE_FISCALE' | translate }}</a></li>
                                    <li><a href="#">{{ 'DATA_DI_NASCITA' | translate }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3 class="m-b-md">{{ 'RISULTATI_DELLA_RICERCA' | translate }}</h3>

                            <!-- Messaggio di Attenzione Eventuale----------- -->
                            <div class="alert alert-danger">
                                <strong class="m-r-md">*</strong> Codice fiscale duplicato, verificare anomalia.
                            </div>

                            <div ng-repeat="item in domCtrl.elencoDomande">
                                <!-- Pannello Verde----------- -->
                                <div class="panel panel-default" ng-class="{'evidence': item.Duplicato}">

                                    <!-- ------------------- -->
                                    <!-- parte 1 Visibile    -->
                                    <!-- ------------------- -->

                                    <div class="panel-heading pointer" data-toggle="collapse" href="#collapseOne">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <h4>
                                                    <i ng-if="item.DataDiDecesso != '-'" title="deceduto" class="fa fa-cross"></i>
                                                    <a ng-class="{'secondary': item.Duplicato}" ng-click="domCtrl.findCodFis(item.CodiceFiscale)"
                                                        angular-popover direction="top" template-url="views/partials/_popover_anagrafica"
                                                        style="position: relative; z-index: 100;">
                                                        {{item.Nome}} {{ item.Cognome }}
                                                    </a>
                                                </h4>
                                            </div>
                                            <!-- ----------- -->
                                            <div class="col-md-3 text-danger">
                                                <h4>{{ item.CodiceFiscale }} <span ng-if="item.DataDiDecesso">*</span></h4>
                                            </div>
                                            <!-- ----------- -->

                                            <div class="col-md-3">
                                                <span class="inline-block">Data di nascita:</span>
                                                <h4 class="inline-block m-l-sm">{{ item.DataDiNascita }}</h4>
                                            </div>
                                            <!-- ----------- -->

                                            <div class="col-md-3 text-right">
                                                <a ui-sref="domande.domanda" onclick="javascript:event.stopPropagation();">Inserisci
                                                    domanda
                                                </a>
                                            </div>
                                            <!-- ----------- -->

                                        </div>
                                    </div>

                                    <!-- ------------------- -->
                                    <!-- parte 2 Collassata  -->
                                    <!-- ------------------- -->

                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <!-- parte da visualizzare solo se deceduto  -->
                                            <div ng-if="item.DataDiDecesso != '-'" class="row">
                                                <div class="col-md-3">
                                                    <strong>Deceduto il {{ item.DataDiDecesso }}</strong>
                                                </div>
                                                <div class="col-md-3">
                                                    <strong>Numero Faldone: {{ item.NumeroFaldone }}</strong>
                                                </div>
                                                <div class="col-md-3">
                                                    <strong>Anno di scarto: {{ item.AnnoDiScarto }}</strong>
                                                </div>
                                            </div>

                                            <!-- parte da visualizzare sempre  -->
                                            <div class="row m-t-md">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-md-4">Posizione</th>
                                                                <th class="col-md-4">Fascicolo</th>
                                                                <th class="col-md-4">Stato domanda</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-class="{strong: itemChild.StatoDomanda === 'Concessa'}"
                                                                ng-repeat="itemChild in item.Storia">
                                                                <td>
                                                                    <a href="visualizza_posizione.html">{{itemChild.Posizione}}</a>
                                                                </td>
                                                                <!-- ----- -->
                                                                <td>{{itemChild.Fascicolo}}</td>
                                                                <!-- ----- -->
                                                                <td class="bold">
                                                                    <i ng-if="itemChild.StatoDomanda == 'Concessa'"
                                                                        class="fa fa-check text-navy" aria-hidden="true"></i>
                                                                    <i ng-if="itemChild.StatoDomanda == 'Revocata'"
                                                                        class="fa fa-circle-o text-warning" aria-hidden="true"></i>
                                                                    <i ng-if="itemChild.StatoDomanda == 'Negata'" class="fa fa-times text-danger"
                                                                        aria-hidden="true"></i>
                                                                    {{itemChild.StatoDomanda}}
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Bottone Inserimento----------- -->

                            <div class="text-right">
                                <button class="btn btn-primary btn-sm"> Inserisci assistito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $("#btnSearch").click(function () {
        $("#searchResults").show();
    });
</script>