<div class="row wrapper border-bottom white-bg page-heading">

    <header-component tipo="'Dettaglio'" titolo="domanda.OperazioneInCorso" paths="[{href:'index.html',descrizione:'HOME'}, {href:'nuova_domanda.html',descrizione:'RICERCA_ASSISTITO'}]"
        active="{{OperazioneInCorso | translate }}"></header-component>

    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'TIPOLOGIA_DI_ASSISTENZA_RICHIESTA' | translate }}
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="m-b-sm form-group">
                        <div>
                            <label>

                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="checkbox-inline"><label> <input icheck ng-model="findTipoAssistenzaRichiesta"
                                            value="77" type="radio" name="tipoAssistenzaRichiesta" ng-checked="findTipoAssistenzaRichiesta=='77'">
                                        <i></i>
                                        77 </label></div>
                                <div class="checkbox-inline"><label> <input icheck ng-model="findTipoAssistenzaRichiesta"
                                            value="88" type="radio" name="tipoAssistenzaRichiesta" ng-checked="findTipoAssistenzaRichiesta=='88'">
                                        <i></i>
                                        88 </label></div>
                                <div class="checkbox-inline"><label> <input icheck ng-model="findTipoAssistenzaRichiesta"
                                            value="99" type="radio" name="tipoAssistenzaRichiesta" ng-checked="findTipoAssistenzaRichiesta=='99'">
                                        <i></i>
                                        99 </label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'CERCA_ASSISTITO' | translate }}
                        <small>{{'INSERISCI_I_DATI_DELL_ASSISTITO_PER_VEDERE_SE_ESISTE_GIA_UNA_POSIZIONE_APERTA' |
                            translate }}</small>
                    </h5>
                    <!--<div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>-->
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12 b-r m-t-lg">
                            <form role="form">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>{{ 'NOME' | translate }}</label>
                                        <input type="text" placeholder="{{'NOME_DA_RICERCARE' | translate}}" class="form-control"
                                            ng-model="findNome"></div>

                                    <div class="col-md-6 form-group">
                                        <label>{{ 'COGNOME' | translate }}</label>
                                        <input type="text" placeholder="{{'COGNOME_DA_RICERCARE' | translate}}" class="form-control"
                                            ng-model="findCognome"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>{{ 'CODICE_FISCALE' | translate }}</label>
                                        <input type="text" placeholder="{{'CODICE_FISCALE_DA_RICERCARE' | translate}}"
                                            class="form-control" ng-model="findCodiceFiscale"></div>
                                    <div class="col-md-6 form-group">
                                        <label>{{ 'DATA_DI_NASCITA' | translate }}</label>
                                        <input type="text" placeholder="{{'DATA_NASCITA_DA_RICERCARE_FORMATO_DDMMYYY'  | translate}}"
                                            class="form-control js-date" ng-model="findDataDiNascita">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label>
                                                <input icheck ng-model="findIncludiDeceduti" type="checkbox" value="Si"
                                                    ng-checked="findIncludiDeceduti=='Si'">
                                                <i></i>
                                                {{ 'INCLUDI_DECEDUTI' | translate }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button" id="btnSearch"
                                        ng-click="findDomande()">{{ 'CERCA' | translate }}</button>
                                </div>

                            </form>
                        </div>
                    </div>


                    <div class="row" id="searchResults" style="display:none;">
                        <div class="ordering col-sm-12 m-t-md">

                            <div class="dropdown pull-right m-l-lg">
                                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ 'ORDINAMENTO' | translate }}: A -> Z
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li><a ng-click="setReverse('false')">A -> Z</a></li>
                                    <li><a ng-click="setReverse('true')">Z -> A</a></li>
                                </ul>
                            </div>

                            <div class="dropdown pull-right">
                                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ 'ORDINA_PER' | translate }}: {{ordinamento.Descrizione}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a ng-click="ordinaElencoDomande('Cognome','Cognome')">{{ 'COGNOME' | translate
                                            }}</a></li>
                                    <li><a ng-click="ordinaElencoDomande('CodiceFiscale', 'Codice fiscale')">{{
                                            'CODICE_FISCALE' | translate }}</a></li>
                                    <li><a ng-click="ordinaElencoDomande('DataDiNascita', 'Data di nascita' )">{{
                                            'DATA_DI_NASCITA' | translate }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3 class="m-b-md">{{ 'RISULTATI_DELLA_RICERCA' | translate }}</h3>

                            <!-- Messaggio di Attenzione Eventuale----------- -->
                            <div class="alert alert-danger">
                                <strong class="m-r-md">*</strong> {{ 'CODICE_FISCALE_DUPLICATO_VERIFICARE_ANOMALIA' |
                                translate }}
                            </div>

                            <div ng-repeat="item in elencoDomande  | orderBy: ordinamento.Campo : ordinamento.Reverse">
                                <!-- Pannello Verde----------- -->
                                <div class="panel panel-default" ng-class="{'evidence': item.Duplicato}">

                                    <!-- ------------------- -->
                                    <!-- parte 1 Visibile    -->
                                    <!-- ------------------- -->

                                    <div class="panel-heading pointer" data-toggle="collapse" href="#collapseOne">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <h4>
                                                    <i ng-if="item.DataDiDecesso != '-'" title="deceduto" class="fa fa-cross"></i>
                                                    <a ng-class="{'secondary': item.Duplicato}" ng-click="findCodFis(item.CodiceFiscale)"
                                                        angular-popover direction="top" template-url="views/partials/_popover_anagrafica2"
                                                        style="position: relative; z-index: 100;">
                                                        {{item.Nome}} {{ item.Cognome }}
                                                    </a>
                                                </h4>
                                            </div>
                                            <!-- ----------- -->
                                            <div class="col-md-3 text-danger">
                                                <h4>{{ item.CodiceFiscale }} <span ng-if="item.DataDiDecesso">*</span></h4>
                                            </div>
                                            <!-- ----------- -->

                                            <div class="col-md-3">
                                                <span class="inline-block">{{ 'DATA_DI_NASCITA' | translate }}:</span>
                                                <h4 class="inline-block m-l-sm">{{ item.DataDiNascita }}</h4>
                                            </div>
                                            <!-- ----------- -->

                                            <div class="col-md-3 text-right">
                                                <a ui-sref="domande.domanda" ng-click="inserisciNuovaDomanda(item.CodiceFiscale)"
                                                    onclick="javascript:event.stopPropagation();">
                                                    {{ 'INSERISCI_DOMANDA' | translate }}
                                                </a>
                                            </div>
                                            <!-- ----------- -->

                                        </div>
                                    </div>

                                    <!-- ------------------- -->
                                    <!-- parte 2 Collassata  -->
                                    <!-- ------------------- -->

                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <!-- parte da visualizzare solo se deceduto  -->
                                            <div ng-if="item.DataDiDecesso != '-'" class="row">
                                                <div class="col-md-3">
                                                    <strong>{{ 'DECEDUTO_IL' | translate }} {{ item.DataDiDecesso }}</strong>
                                                </div>
                                                <div class="col-md-3 intero">
                                                    <strong>{{ 'NUMERO_FALDONE' | translate }}: {{ item.NumeroFaldone
                                                        }}</strong>
                                                </div>
                                                <div class="col-md-3 anno">
                                                    <strong>{{ 'ANNO_DI_SCARTO' | translate }}: {{ item.AnnoDiScarto }}</strong>
                                                </div>
                                            </div>

                                            <!-- parte da visualizzare sempre  -->
                                            <div class="row m-t-md">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-md-4">{{"POSIZIONE" | translate}}</th>
                                                                <th class="col-md-4">{{"FASCICOLO" | translate}}</th>
                                                                <th class="col-md-4">{{"STATO_DOMANDA" | translate}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-class="{strong: item2.StatoDomanda === 'Concessa'}"
                                                                ng-repeat="item2 in item.DomandePresentate">
                                                                <td>
                                                                    <a href="visualizza_posizione.html">{{item2.Posizione}}</a>
                                                                </td>
                                                                <!-- ----- -->
                                                                <td>{{item2.Fascicolo}}</td>
                                                                <!-- ----- -->
                                                                <td class="bold">
                                                                    <i ng-if="item2.StatoDomanda == 'Concessa'" class="fa fa-check text-navy"
                                                                        aria-hidden="true"></i>
                                                                    <i ng-if="item2.StatoDomanda == 'Revocata'" class="fa fa-circle-o text-warning"
                                                                        aria-hidden="true"></i>
                                                                    <i ng-if="item2.StatoDomanda == 'Negata'" class="fa fa-times text-danger"
                                                                        aria-hidden="true"></i>
                                                                    {{item2.StatoDomanda|translate}}
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Bottone Inserimento----------- -->

                            <div class="text-right">
                                <button class="btn btn-primary btn-sm"> {{ 'INSERISCI_ASSISTITO' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $("#btnSearch").click(function () {
        $("#searchResults").show();
    });
</script>