<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Elenco prestazioni</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Elenco prestazioni</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    Elenco prestazioni
</div>
