<header-component tipo="'Generico'" titolo="'RICERCA_EVIDENZA'"></header-component>

<div ng-include="'views/common/spinner.html'" class="centered"></div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{ "RICERCA_EVIDENZA" | translate }}</h5>
        </div>
        <div class="ibox-content">
          <div>
            <div class="row">
              <div class="col-md-4 form-group">
                <label>{{ "TIPO_EVIDENZA" | translate }}</label>
                <select class="form-control" name="account" ng-model="info.find.TipoEvidenza">
                  <option>Permesso di soggiorno</option>
                  <option>Trasferimento - cambio residenza</option>
                  <option>Controllo reddito</option>
                  <option>Domanda da sospendere - mancanza requisiti</option>
                  <option>Prestazione sospesa - dati reddito</option>
                  <option>Prestazione sospesa - assegno di cura</option>
                  <option>Prestazione sospesa - casa di lungodegenza</option>
                  <option>Prestazione da negare - soglia di reddito</option>
                  <option>Prestazione da negare - soglia incremento</option>
                  <option>Prestazione concessa</option>
                  <option>Prestazione da revocare - fascia d'età</option>
                  <option>Prestazione da revocare - soglia di reddito</option>
                  <option>Prestazione da revocare - soglia incremento</option>
                  <option>Prestazione da ripristinare - dati reddito</option>
                  <option>Prestazione da ripristinare – assegno di cura</option>
                  <option>Prestazione da ripristinare – casa di lungodegenza</option>
                  <option>Prestazione da concedere – fascia di età</option>
                  <option>Importo da recuperare eredi</option>
                  <option>Importo da recuperare</option>
                  <option>Importo da recuperare – Procura della Repubblica</option>
                  <option>...</option>
                </select>
              </div>
              <div class="col-md-4 form-group">
                <label>{{ "POSIZIONE" | translate }}</label>
                <input type="text" class="form-control" ng-model="info.find.Posizione" />
              </div>
              <div class="col-md-4 form-group">
                <label>{{ "TIPO_PRESTAZIONE" | translate }}</label>
                <input type="text" class="form-control" ng-model="info.find.TipoPrestazione" />
              </div>
            </div>

            <!-- ---------------- -->

            <div class="row">
              <div class=" col-md-4 form-group">
                <label>{{ "DATA_DECORRENZA" | translate }}</label>
                <div class="input-group fullwidth">
                  <span class="input-group-custom">{{
                    "DAL" | translate
                    }}</span>
                  <div class="input-group date">
                    <input type="text" class="form-control js-date" ng-model="info.find.DataDecorrenzaDal" placeholder="dd/MM/yyyy" />
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                  <span class="input-group-custom">{{ "AL" | translate }}</span>
                  <div class="input-group date">
                    <input type="text" class="form-control js-date" ng-model="info.find.DataDecorrenzaAl" placeholder="dd/MM/yyyy" />
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>

              <!-- ---------------- -->

              <div class="col-md-4 form-group">
                <label>{{ "DATA_SCADENZA" | translate }}</label>
                <div class="input-group fullwidth">
                  <span class="input-group-custom">{{
                    "DAL" | translate
                    }}</span>
                  <div class="input-group date">
                    <input type="text" class="form-control js-date" ng-model="info.find.DataScadenzaDal" placeholder="dd/MM/yyyy" />
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                  <span class="input-group-custom">{{ "AL" | translate }}</span>
                  <div class="input-group date">
                    <input type="text" class="form-control js-date" ng-model="info.find.DataScadenzaAl" placeholder="dd/MM/yyyy" />
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>

              <!-- ---------------- -->
              <div class="col-md-4 form-group">
                <label>{{ "DATA_CHIUSURA" | translate }}</label>
                <div class="input-group fullwidth">
                  <span class="input-group-custom">{{
                    "DAL" | translate
                    }}</span>
                  <div class="input-group date">
                    <input type="text" class="form-control js-date" ng-model="info.find.DataChiusuraDal" placeholder="dd/MM/yyyy" />
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                  <span class="input-group-custom">{{ "AL" | translate }}</span>
                  <div class="input-group date">
                    <input type="text" class="form-control js-date" ng-model="info.find.DataChiusuraAl" placeholder="dd/MM/yyyy" />
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- ---------------- -->

            <hr />
            <div class="row">
              <div class="col-md-4 form-group">
                <label>{{ "COGNOME" | translate }}</label>
                <input type="text" class="form-control" ng-model="info.find.Cognome" placeholder="{{ 'COGNOME_DA_RICERCARE' |translate }}" />
              </div>
              <div class="col-md-4 form-group">
                <label>{{ "NOME" | translate }}</label>
                <input type="text" class="form-control" ng-model="info.find.Nome" placeholder="{{ 'NOME_DA_RICERCARE' |translate }}" />
              </div>
              <div class="col-md-4 form-group">
                <label>{{ "CODICE_FISCALE" | translate }}</label>
                <input type="text" class="form-control" ng-model="info.find.CodiceFiscale" placeholder="{{ 'CODICE_FISCALE_DA_RICERCARE' |translate }}" />
              </div>
              <div class="col-md-4 form-group">
                <label>{{ "DATA_DI_NASCITA" | translate }}</label>
                <div class="input-group date">
                  <input type="text" class="form-control js-date" ng-model="info.find.DataDiNascita" placeholder="{{ 'DATA_NASCITA_DA_RICERCARE' |translate }}" />
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-primary btn-sm" id="posSearch" ng-click="findStart()">
                {{ "CERCA" | translate }}
              </button>
            </div>
          </div>

          <div id="posResults" style="display:none;" class="m-t-lg">

            <table id="resultRicercaEvidenzeDataTable" datatable="ng" class="table table-striped table-bordered"
              dt-options="dtOptionsTabRicercaEvidenze" dt-column-defs="colonneTabRicercaEvidenze">
              <thead>
                <tr>
                  <th>{{ "DATA_DECORRENZA" | translate }}</th>
                  <th>{{ "TIPO_EVIDENZA" | translate }}</th>
                  <th>{{ "DESCRIZIONE" | translate }}</th>
                  <th>{{ "DATA_SCADENZA" | translate }}</th>
                  <th>{{ "POSIZIONE" | translate }}</th>
                  <th>{{ "COGNOME" | translate }}</th>
                  <th>{{ "NOME" | translate }}</th>
                  <th>{{ "CODICE_FISCALE" | translate }}</th>
                  <th>{{ "DETTAGLIO" | translate }}</th>
                  <th></th>
                  <th class="text-center">
                    <div class="checkbox">
                      <div class="checkbox">
                        <input icheck type="checkbox" ng-model="tmp.xxx" />
                        <i></i>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="item in elencoEvidenze">
                  <td width="9%">{{ item.DataDecorrenza }}</td>
                  <td width="9%">{{ item.TipoEvidenza }}</td>
                  <td width="18%">{{ item.Descrizione }}</td>
                  <td width="9%">{{ item.DataScadenza }}</td>
                  <td width="9%" class="text-right">{{ item.Posizione }}</td>
                  <td width="9%">{{ item.Cognome }}</td>
                  <td width="9%">{{ item.Nome }}</td>
                  <td width="9%">{{ item.CodiceFiscale }}</td>

                  <td width="9%" class="text-center" style="font-size:18px">
                    <a data-toggle="popover" data-trigger="hover" title="Dettaglio evidenza" data-placement="top"
                      data-html="true" data-content="{{item.Dettaglio}}" tooltip-append-to-body="true">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </td>

                  <td width="5%" class="text-center" style="font-size:18px">
                    <a ng-click="visualizzaEvidenza(item)"><i class="fa fa-eye"></i>
                    </a>
                  </td>

                  <td width="5%" class="text-center">
                    <div class="checkbox">
                      <input icheck type="checkbox" ng-model="tmp.xxx" />
                      <i></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div ng-if="table.totalRecord" class="row">
              <div class="col-sm-6">
                <div class="dataTables_info" id="resultRicercaEvidenzeDataTable_info"> {{ "RECORD_DA" | translate }} {{
                  ((table.page - 1) * table.pageSize) + 1 }} {{ "A" | translate }} {{(table.page * table.pageSize <
                    table.totalRecord) ? table.page * table.pageSize : table.totalRecord }} {{ "DI" | translate }}
                    {{table.totalRecord}} </div> </div> <div class="col-sm-6 text-right" paging page="table.page"
                    page-size="table.pageSize" total="table.totalRecord" show-prev-next="true" show-first-last="true"
                    paging-action="findPaginazione(page, pageSize, total)">
                </div>
              </div>

              <div class="text-right m-t-lg">
                <a ng-click="inserisciEvidenza(null)" class="btn btn-sm btn-primary">{{ 'INSERISCI_NUOVA_EVIDENZA' |
                  translate }}</a>
                <a class="btn btn-sm btn-primary">{{"GENERA_COMUNICAZIONE" | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $("#posSearch").click(function () {
      $("#posResults").show();

      // ogni volta che si effettua una ricerca è necessario reinizializzare i popup
      setTimeout(function () {
        $('[data-toggle="popover"]').popover();
      }, 500);
    });
    $(".input-group.date").datepicker({
      todayBtn: "linked",
      format: "dd/mm/yyyy",
      keyboardNavigation: false,
      forceParse: true,
      calendarWeeks: true,
      autoclose: true,
      language: window.language

      //orientation: 'bottom left'
    });
  </script>