<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'RICERCA_DATI_ANAGRAFICI' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'RICERCA_DATI_ANAGRAFICI' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> {{ 'RICERCA_DATI_ANAGRAFICI' | translate }} </h5>
                </div>
                <div class="ibox-content">
                    <!-- <div ng-include="'views/partials/_ricerca_anagrafica.html'"></div> -->
                    <ricerca-component  on-save="onSaveCar($ctrl.datiAssistito)"  dati-assistito = "$ctrl.datiAssistito"></ricerca-component>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.modal-select').hide();
</script>