<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'RICERCA_ASSOCIAZIONE' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'RICERCA_ASSOCIAZIONE' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> Ricerca associazione </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Codice Fiscale</label>
                            <input type="text" class="form-control" value="">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Nome associazione</label>
                            <input type="text" class="form-control" value="">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Tipologia di assistenza</label>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input icheck type="radio" name="a" ng-model="findTipoAssistenzaRichiesta"
                                                ng-checked="findTipoAssistenzaRichiesta=='77'">
                                            <i></i> 77
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input icheck type="radio" name="a" ng-model="findTipoAssistenzaRichiesta"
                                                ng-checked="findTipoAssistenzaRichiesta=='88'">
                                            <i></i> 88
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input icheck type="radio" name="a" ng-model="findTipoAssistenzaRichiesta"
                                                ng-checked="findTipoAssistenzaRichiesta=='99'">
                                            <i></i> 99
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary btn-sm" ng-click="find()" id="posSearch">{{ "CERCA" |
                            translate}}</button>
                    </div>
                    <div id="posResults" style="display:none;" class="m-t-lg">
                        
                        <div>
                            <table datatable="ng" dt-column-defs="colonneTabRicercaAssociazioni" dt-options="dtOptionsTabRicercaAssociazioni" class="table table-striped table-bordered dataTables-paged">
                                <thead>
                                    <tr>
                                        <th class="col-md-4">{{ 'NOME_ASSOCIAZIONE' | translate }}</th>
                                        <th class="col-md-4">{{ 'CODICE_FISCALE' | translate }}</th>
                                        <th class="col-md-3">{{ 'TIPOLOGIA_DI_ASSISTENZA' | translate }}</th>
                                        <th class="col-md-1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in elencoAssociazioni">
                                        <td>{{item.NomeAssociazione}}</td>
                                        <td>{{item.CodiceFiscale}}</td>
                                        <td>{{item.TipologiaDiAssistenza}}</td>
                                        <td class="text-center">
                                            <a ui-sref="associazioni.visualizza_associazione" ng-click="findCodFis(item.CodiceFiscale)"  >
                                                <i class="fa fa-arrow-circle-right" aria-hidden="true" style="font-size:17px"></i>
                                            </a>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="text-right m-t-lg">
                            <a ui-sref="associazioni.inserimento_associazione" class="btn btn-sm btn-primary">{{ "INSERISCI_NUOVA_ASSOCIAZIONE" | translate}}</a>
                        </div>
                    </div>

                    <!-- <div class="row" id="anagResults" style="display:none;margin-top:10px">

                        <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered dataTables-paged">
                            <thead>
                                <tr>
                                    <th>{{ 'COGNOME' | translate }}</th>
                                    <th>{{ 'NOME' | translate }}</th>
                                    <th>{{ 'CODICE_FISCALE' | translate }}</th>
                                    <th>{{ 'DATA_DI_NASCITA' | translate }}</th>
                                    <th>{{ 'DATA_DECESSO' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in elencoAssistiti">
                                    <td>{{item.Cognome}}</td>
                                    <td>{{item.Nome}}</td>
                                    <td>
                                        <a ng-click="findCodFis(item.CodiceFiscale)" angular-popover direction="top"
                                            template-url="views/partials/_popover_anagrafica" style="position: relative; z-index: 100;">{{item.CodiceFiscale}}</a>
                                    </td>
                                    <td>{{item.DataDiNascita}}</td>
                                    <td>{{item.DataDiDecesso}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div> -->


                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $('#posSearch').click(function () {
        $("#posResults").show();
    });
</script>