<div ng-controller="visualizzaDomandaCtrl">

    <div class="row wrapper border-bottom white-bg page-heading">

        <header-component tipo="'Dettaglio'" titolo="'VISUALIZZA_DOMANDA'" paths="[{href:'index.html',descrizione:'HOME'}, {href:'search.html',descrizione:'VISUALIZZA_DOMANDA'}]"
            active="Domanda {{domanda.NroDomanda}}"></header-component>

        <div class="col-lg-2 text-right m-t-md">
            <h3>
                <span ng-show="domanda.StatoDomanda == 'Revocata'" class="label label-warning initial-font" data-toggle="popover"
                    data-container="body" data-trigger="hover" data-html="true" data-content="{{camillo}}"
                    data-placement="left">
                    <i class="fa fa-circle-o"></i> revocata
                </span>
                <span ng-show="domanda.StatoDomanda == 'Inserita'" class="label label-warning initial-font" data-toggle="popover"
                    data-container="body" data-trigger="hover" data-html="true" data-content="{{camillo}}"
                    data-placement="left">
                    <i class="fa fa-circle-o"></i> inserita
                </span>
                <span ng-show="domanda.StatoDomanda == 'Concessa'" class="label label-warning initial-font" data-toggle="popover"
                    data-container="body" data-trigger="hover" data-html="true" data-content="{{camillo}}"
                    data-placement="left">
                    <i class="fa fa-check text-navy"></i> concessa
                </span>
                <span ng-show="domanda.StatoDomanda == 'Negata'" class="label label-warning initial-font" data-toggle="popover"
                    data-container="body" data-trigger="hover" data-html="true" data-content="{{camillo}}"
                    data-placement="left">
                    <i class="fa fa-times text-danger"></i> negata
                </span>
                <span ng-show="domanda.StatoDomanda == 'Sospesa'" class="label label-warning initial-font" data-toggle="popover"
                    data-container="body" data-trigger="hover" data-html="true" data-content="{{camillo}}"
                    data-placement="left">
                    <i class="fa fa-circle-o"></i> sospesa
                </span>
                <span ng-show="domanda.StatoDomanda == 'Cancellata'" class="label label-warning initial-font"
                    data-toggle="popover" data-container="body" data-trigger="hover" data-html="true" data-content="{{camillo}}"
                    data-placement="left">
                    <i class="fa fa-times text-danger"></i> cancellata
                </span>
            </h3>

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class=" ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <h5>{{ 'DATI_ASSISTITO' | translate }}</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <h2 class="small"><strong>{{datiAssistito.Cognome}} {{datiAssistito.Nome}}</strong>&nbsp;-&nbsp;{{domanda.CodiceFiscale}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <h5>{{ 'NUMERO_POSIZIONE' | translate }}</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <h2>{{ domanda.Posizione }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <h5>{{ 'NUMERO_FASCICOLO' | translate }}</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <h2 class="small">{{domanda.Fascicolo}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- ------------------------------------------------------------------------ -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> {{ 'DATI_ANAGRAFICI_DELL_ASSISTITO' |translate }} &nbsp;</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:none;">
                        <div ng-include="'/views/partials/_dati_anagrafici_assistito.html'"></div>
                    </div>
                </div>
                <!-- ------------------------------------------------------------------------ -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> {{ 'DATI_DOMANDA' |translate }} </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>

                    <!-- <div class="ibox-content">
                        <%- partial("_elenco_domande") %>
                    </div> -->

                    <div class="ibox-content" style="display:none;">
                        <div ng-include="'/views/partials/_dati_domanda.html'"></div>
                    </div>


                    <!-- <div class="ibox-content" style="display:none;">
                        <stato-domanda-component stato-domanda="{{domanda.StatoDomanda}}"></stato-domanda-component>
                    </div> -->
                </div>
                <!-- ------------------------------------------------------------------------ -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'ELENCO_VERBALI' |translate }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:none">
                        <verbali-component></verbali-component>
                    </div>
                </div>
                <!-- ------------------------------------------------------------------------ -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'PRESTAZIONI' |translate }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:none">
                        <div ng-include="'views/partials/_elenco_prestazioni.html'"></div>
                    </div>
                </div>
                <!-- ------------------------------------------------------------------------ -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'ELENCO_EVIDENZE' | translate }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:none">
                        <evidenze-component></evidenze-component>
                    </div>
                </div>
                <!-- ------------------------------------------------------------------------ -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'ELENCO_DOCUMENTAZIONE' |translate }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:none">
                        <documenti-component></documenti-component>
                    </div>
                </div>
                <!-- ------------------------------------------------------------------------ -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'ELENCO_SOSPENSIONI_DELLA_DOMANDA' |translate }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:none">
                        <div ng-include="'views/partials/_elenco_sospensioni.html'"></div>
                    </div>
                </div>
                <!-- ------------------------------------------------------------------------ -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'LOG_DI_SISTEMA' |translate }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:none">
                        <logs-component></logs-component>

                    </div>
                </div>
                <!-- ------------------------------------------------------------------------ -->
            </div>
        </div>
    </div>
    <div class="floating-menu">
        <div class="floating-menu-box">
            <div class="spin-icon">
                <i class="fa fa-list-ul"></i>
            </div>
            <div class="floating-menu-items">
                <div class="title"><a ng-click="modificaDomanda()">{{ 'MODIFICA_DOMANDA' |translate }}</a></div>
                <div class="title"><a ng-click="sospendiDomanda()">{{ 'SOSPENDI_DOMANDA' |translate }}</a></div>
                <div class="title"><a ng-click="revocaDomanda()">{{ 'REVOCA_DOMANDA' |translate }}</a></div>
                <div class="title"><a ng-click="revocaDomanda('Annulla')">{{ 'ANNULLA_REVOCA_DOMANDA' |translate }}</a></div>
                <div class="title"><a ng-click="negaDomanda()">{{ 'NEGAZIONE_DOMANDA' |translate }}</a></div>
                <div class="title"><a ng-click="negaDomanda('Annulla')">{{ 'ANNULLA_NEGAZIONE_DOMANDA' |translate }}</a></div>
                <div class="title"><a ng-click="inserisciNuovoVerbale()">{{ 'INSERISCI_NUOVO_VERBALE' |translate }}</a></div>
                <div class="title"><a ng-click="inserisciNuovaEvidenza()">{{ 'INSERISCI_NUOVA_EVIDENZA' |translate }}</a></div>
                <div class="title"><a ng-click="cancellaDomanda()">{{ 'CANCELLA_DOMANDA' |translate }}</a></div>
            </div>
        </div>
    </div>

    <script>
        // Custom scripts
        $(document).ready(function () {

            // inizializzazione popover
            $('[data-toggle="popover"]').popover();

            $('.ibox-title').click(function () {
                var cl = $(this).find('.collapse-link');
                var ibox = cl.closest('div.ibox');
                var button = cl.find('i');
                var content = ibox.find('div.ibox-content');
                content.slideToggle(200);
                button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
                ibox.toggleClass('').toggleClass('border-bottom');
                setTimeout(function () {
                    ibox.resize();
                    ibox.find('[id^=map-]').resize();
                }, 50);
            });

        });

        $('.floating-menu-box').on('click', function () {
            if ($(this).hasClass("show")) {
                $(this).removeClass('show');
            }
            else {
                $(this).addClass('show');
            }
        });



    </script>




    <!-- <div class="row">
        <h3 class="m-t-lg">Associazioni di categoria</h3>
        <div>
            <table class="table table-bordered dataTables-paged">
                <thead>
                    <tr>
                        <th class="col-md-3">Tipo associazione</th>
                        <th class="col-md-3">Data inizio iscrizione</th>
                        <th class="col-md-3">Data fine iscrizione</th>
                        <th class="col-md-3">Ritenuta di categoria (quota mensile)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in domanda.AssociazioniDiCategoria" class="toolbox-parent-row">
                        <td>{{item.Tipo}}</td>
                        <td>{{item..DataInizioIscrizione}}</td>
                        <td>{{item..DataFineIscrizione}}</td>
                        <td>{{item..RitenutaDiAcconto | currency }}</td>
                        <td style="width:60px" class="toolbox-row">
                            <a title="visualizza">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a title="elimina">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right  m-b-sm">

                <button type="button" class="btn btn-primary btn-sm" ng-click="aggiungiIscrizione()">{{
                    'AGGIUNGI_ISCRIZIONE' | translate }}</button>

            </div>
        </div>
    </div> -->

</div>