<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'VISUALIZZA_DATI_ANAGRAFICI' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li>
                <a href="ricerca_anagrafica.html">{{ 'RICERCA_DATI_ANAGRAFICI' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{datiAssistito.Nome}} {{datiAssistito.Cognome}}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <!-- <%- partial("_pannello_sintesi_anagrafica") %> -->
        <div ng-include="'views/partials/_pannello_sintesi_anagrafica.html'"></div>
    </div>

    <div class="row text-left">
        <div class="col-sm-12">
            <button class="btn" ng-class="editDatiAssistito ? 'btn-primary':'btn-danger'" id="anagSearch" ng-click="editDatiAssistito = !editDatiAssistito">{{
                'SBLOCCA_CAMPI' | translate }}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default m-t-lg">
                <div class="panel-heading pointer" data-toggle="collapse" href="#collapseDatiGenerali">
                    {{ "DATI_GENERALI" | translate}}
                    <div class="panel-toolbox">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div id="collapseDatiGenerali" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 form-group"><label>Nome</label> <input type="text" ng-model="datiAssistito.Nome"
                                    ng-readonly="editDatiAssistito" class="form-control"></div>
                            <div class="col-md-4 form-group"><label>Cognome</label> <input type="text" ng-model="datiAssistito.Cognome"
                                    ng-readonly="editDatiAssistito" class="form-control"></div>
                            <div class="col-md-4 form-group"><label>Cognome acquisito</label> <input type="text"
                                    ng-model="datiAssistito.CognomeAcquisito" ng-readonly="editDatiAssistito" class="form-control"></div>
                            <div class="col-md-4 form-group"><label>Codice Fiscale</label> <input type="text" ng-model="datiAssistito.CodiceFiscale"
                                    ng-readonly="editDatiAssistito" class="form-control"></div>
                            <div class="col-md-4 form-group"><label>Sesso</label> <input type="text" ng-model="datiAssistito.Sesso"
                                    ng-readonly="editDatiAssistito" class="form-control"></div>
                            <div class="col-md-4 form-group"><label>Stato civile</label> <input type="text" ng-model="datiAssistito.StatoCivile"
                                    ng-readonly="editDatiAssistito" class="form-control"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default m-t-lg">
                <div class="panel-heading pointer collapsed" data-toggle="collapse" href="#collapseDataNascita">
                    {{ "DATI_DI_NASCITA" | translate}}
                    <div class="panel-toolbox">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div id="collapseDataNascita" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 form-group"><label>Data di nascita</label> <input type="text" ng-model="datiAssistito.DataDiNascita"
                                    ng-readonly="editDatiAssistito" class="form-control"></div>
                            <div class="col-md-4 form-group"><label>Luogo di nascita</label> <input type="text"
                                    ng-model="datiAssistito.LuogoDiNascita" ng-readonly="editDatiAssistito" class="form-control"
                                    value="Milano"></div>
                            <div class="col-md-4 form-group"><label>Provincia</label> <input type="text" ng-model="datiAssistito.ProvinciaDiNascita"
                                    ng-readonly="editDatiAssistito" class="form-control"></div>
                            <div class="col-md-4 form-group"><label>Nazione</label> <input type="text" ng-model="datiAssistito.NazioneDiNascita"
                                    ng-readonly="editDatiAssistito" class="form-control"></div>
                            <div class="col-md-4 form-group"><label>Data decesso</label> <input type="text" ng-model="datiAssistito.DataDiDecesso"
                                    ng-readonly="editDatiAssistito" class="form-control"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default m-t-lg">
                <div class="panel-heading pointer collapsed" data-toggle="collapse" href="#collapseAltriDati">
                    {{ "ALTRI_DATI" | translate}}
                    <div class="panel-toolbox">
                        <i class="fa fa-chevron-down"></i>
                    </div>

                </div>

                <div id="collapseAltriDati" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label>Cittadinanza</label>
                                <input type="text" ng-model="datiAssistito.Cittadinanza" ng-readonly="editDatiAssistito"
                                    class="form-control"></div>
                            <div class="col-md-4 form-group">
                                <label>Extracomunitario</label>
                                <!-- PROBLEMAJQUERYDAANALIZZARE -->
                                <!-- Il problema lo genera il codice sottostante che se abilitato rompe angular -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkbox"><label> <input icheck ng-model="XXX" type="radio" name="b"
                                                    disabled='disabled'> <i></i>
                                                Sì </label></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkbox"><label> <input icheck ng-model="XXX" type="radio" name="b"
                                                    checked disabled='disabled'> <i></i>
                                                No </label></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <h3 class="m-t-lg">Permesso di soggiorno</h3>
                        <div class="row">
                            <div class="col-md-4 form-group"><label>Tipo permesso</label>
                                <input type="text" ng-model="datiAssistito.PermessoDiSoggiornoTipoPermesso" ng-readonly="editDatiAssistito"
                                    class="form-control"></div>
                            <div class="col-md-4 form-group">
                                <label>Data rilascio</label>
                                <input type="text" ng-model="datiAssistito.PermessoDiSoggiornoDataRilascio" ng-readonly="editDatiAssistito"
                                    class="form-control"></div>
                            <div class="col-md-4 form-group"><label>Valido fino al</label>
                                <input type="text" ng-model="datiAssistito.PermessoDiSoggiornoValidoFinoAl" ng-readonly="editDatiAssistito"
                                    class="form-control"></div>
                        </div>
                        <h3 class="m-t-lg">Riferimenti di contatto</h3>
                        <div class="row">
                            <div class="col-md-4 form-group"><label>Telefono principale</label>
                                <input type="text" ng-model="datiAssistito.TelefonoPrincipale" ng-readonly="editDatiAssistito"
                                    class="form-control"></div>
                            <div class="col-md-4 form-group"><label>Telefono secondario</label>
                                <input type="text" ng-model="datiAssistito.TelefonoSecondario" ng-readonly="editDatiAssistito"
                                    class="form-control"></div>
                            <div class="col-md-4 form-group"><label>Email</label>
                                <input type="text" ng-model="datiAssistito.Email" ng-readonly="editDatiAssistito" class="form-control"></div>
                            <div class="col-md-4 form-group"><label>PEC</label>
                                <input type="text" ng-readonly="editDatiAssistito" ng-model="datiAssistito.Pec" class="form-control"></div>
                            <div class="col-md-12 form-group"><label>Note</label>
                                <textarea ng-model="datiAssistito.Note" ng-readonly="editDatiAssistito" class="form-control"></textarea></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default m-t-lg">

                <div class="panel-heading pointer collapsed" data-toggle="collapse" href="#collapseIndirizzi">
                    {{ "ELENCO_INDIRIZZI" | translate}}
                    <div class="panel-toolbox">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div id="collapseIndirizzi" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-2">Tipo</th>
                                    <th class="col-md-3">Indirizzo</th>
                                    <th class="col-md-2">Validità</th>
                                    <th class="col-md-3">Note</th>
                                    <th class="col-md-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in datiAssistito.Indirizzi">
                                    <td>{{item.Tipo}}</td>
                                    <td>
                                        {{item.Indirizzo}}
                                    </td>
                                    <td>{{item.Validita}}</td>
                                    <td>{{item.Note}}</td>
                                    <td style="font-size: 18px; text-align: center">
                                        <a href="xxxxx.html"><i class="fa fa-pencil"></i></a>
                                        <a href="xxxxx.html"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row text-right">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" id="anagSearch" ng-click="creaNuovoIndirizzo()">{{
                                    'CREA_NUOVO_INDIRIZZO'
                                    | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="panel panel-default m-t-lg">
                <div class="panel-heading pointer collapsed" data-toggle="collapse" href="#collapseElencoPos">
                    {{ "ELENCO_POSIZIONI" | translate}}
                    <div class="panel-toolbox">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div id="collapseElencoPos" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-6">Numero posizione</th>
                                    <th class="col-md-3"></th>
                                    <th class="col-md-3"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>778767</td>
                                    <td><a href="visualizza_posizione.html">Visualizza posizione</a></td>
                                    <td><a data-toggle="modal" data-target="#modalDocumentiPerFascicolo">Elenco
                                            documenti
                                            per fascicolo</a></td>
                                </tr>
                                <tr>
                                    <td>885963</td>
                                    <td><a href="visualizza_posizione.html">Visualizza posizione</a></td>
                                    <td><a data-toggle="modal" data-target="#modalDocumentiPerFascicolo">Elenco
                                            documenti
                                            per fascicolo</a></td>
                                </tr>
                                <tr>
                                    <td>993423</td>
                                    <td><a href="visualizza_posizione.html">Visualizza posizione</a></td>
                                    <td><a data-toggle="modal" data-target="#modalDocumentiPerFascicolo">Elenco
                                            documenti
                                            per fascicolo</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default m-t-lg">
                <div class="panel-heading pointer collapsed" data-toggle="collapse" href="#collapsePensioni">
                    {{ "PENSIONI" | translate}}
                    <div class="panel-toolbox">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div id="collapsePensioni" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 form-group"><label>Altre pensioni</label> <input type="text"
                                    ng-readonly="editDatiAssistito" class="form-control" value="Invalidità, infortunio"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default m-t-lg">
                <div class="panel-heading pointer collapsed" data-toggle="collapse" href="#collapseDecesso">
                    {{ "DECESSO" | translate}}
                    <div class="panel-toolbox">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div id="collapseDecesso" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 form-group"><label>Data decesso</label> <input type="text" ng-readonly="editDatiAssistito"
                                    class="form-control" value="10/01/2016"></div>
                            <div class="col-md-4 form-group"><label>Numero faldone</label> <input type="text"
                                    ng-readonly="editDatiAssistito" class="form-control" value="357434"></div>
                            <div class="col-md-4 form-group"><label>Anno di scarto IN-CI-SO</label> <input type="text"
                                    ng-readonly="editDatiAssistito" class="form-control" value="2016"></div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading pointer" data-toggle="collapse" href="#collapseLiquEredi">
                                Simulazione liquidazioni eredi
                                <div class="panel-toolbox">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                            <div id="collapseLiquEredi" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-striped dataTables-paged">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-3">Data calcolo simulazione</th>
                                                        <th class="col-md-3">Importo spettante</th>
                                                        <th class="col-md-4"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>30/06/2016</td>
                                                        <td>€ 56.800,00</td>
                                                        <td class="text-center"><a href="visualizza_liquidazione.html">Visualizza
                                                                dettaglio simulazione</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading pointer" data-toggle="collapse" href="#collapseEredi">
                                Elenco eredi
                                <div class="panel-toolbox">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                            <div id="collapseEredi" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-striped dataTables-paged">
                                                <thead class="price">
                                                    <tr>
                                                        <th>Cognome Nome</th>
                                                        <th>Codice fiscale</th>
                                                        <th>% di eredità</th>
                                                        <th>Liquidato in base alla % di eredità</th>
                                                        <th>Liquidazione</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Paolo Bianchi</td>
                                                        <td>RSSMRA53A36Q2357</td>
                                                        <td>50%</td>
                                                        <td>€ 28.400,00</td>
                                                        <td>30/06/2016</td>
                                                        <td class="text-center"><a>Visualizza dettaglio importo
                                                                liquidato</a></td>
                                                        <td class="text-center">
                                                            <a title="modifica">
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Marco Bianchi</td>
                                                        <td>RSSMRA53A36Q9382</td>
                                                        <td>25%</td>
                                                        <td>€ 14.200,00</td>
                                                        <td>30/06/2016</td>
                                                        <td class="text-center"><a>Visualizza dettaglio importo
                                                                liquidato</a></td>
                                                        <td class="text-center">
                                                            <a title="modifica">
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sara Bianchi</td>
                                                        <td>RSSMRA53A36Q5372</td>
                                                        <td>15%</td>
                                                        <td>€ 14.200,00</td>
                                                        <td>30/06/2016</td>
                                                        <td class="text-center"><a>Visualizza dettaglio importo
                                                                liquidato</a></td>
                                                        <td class="text-center">
                                                            <a title="modifica">
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cristina Bianchi</td>
                                                        <td>BNCCRS53A36Q6713</td>
                                                        <td>10%</td>
                                                        <td>€ 5.680,00</td>
                                                        <td>30/06/2016</td>
                                                        <td class="text-center"><a>Visualizza dettaglio importo
                                                                liquidato</a></td>
                                                        <td class="text-center">
                                                            <a title="modifica">
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-right col-md-12">
                                            <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalAnagrafica">Aggiungi
                                                erede
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default m-t-lg">
                <div class="panel-heading pointer collapsed" data-toggle="collapse" href="#collapseElencoRedditi">
                    {{ "ELENCO_REDDITI" | translate}}
                    <div class="panel-toolbox">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div id="collapseElencoRedditi" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            PROBLEMAJQUERYDAANALIZZARE:LA TABELLA NON FUNZIONA X I DATI DINAMICI DI ANGULAR
                            <!-- Il problema lo genera il codice sottostante che se abilitato rompe angular -->
                            <div class="col-md-12">

                                <table id="tabellaRedditi" class="table table-bordered table-striped dataTables-paged order-desc">
                                    <thead>
                                        <tr>
                                            <th>Anno</th>
                                            <th>Reddito assistito</th>
                                            <th>Reddito coniuge</th>
                                            <th>Valido per gli anni successivi</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2014</td>
                                            <td>€ 10.543,00</td>
                                            <td>€ 5.800,00</td>
                                            <td class="text-center">
                                                <div class="checkbox"><input icheck ng-model="XXX" type="checkbox"
                                                        disabled> <i></i></div>
                                            </td>
                                            <td style="font-size: 18px; text-align: center">
                                                <a href="xxxx.html"><i class="fa fa-pencil"></i></a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>2013</td>
                                            <td>€ 10.543,00</td>
                                            <td>€ 5.800,00</td>
                                            <td class="text-center">
                                                <div class="checkbox"><input icheck ng-model="XXX" type="checkbox"
                                                        checked disabled> <i></i></div>
                                            </td>
                                            <td style="font-size: 18px; text-align: center">
                                                <a href="xxxx.html"><i class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2012</td>
                                            <td colspan="2" class="text-center">Nessun reddito percepito</td>
                                            <td style="display:none"></td>
                                            <td class="text-center">
                                                <div class="checkbox"><input icheck ng-model="XXX" type="checkbox"
                                                        disabled> <i></i></div>
                                            </td>
                                            <td style="font-size: 18px; text-align: center">
                                                <a href="xxxx.html"><i class="fa fa-pencil"></i></a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row text-right">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" id="anagSearch" ng-click="creaNuovoReddito()">{{
                                    'INSERISCI_REDDITO'
                                    | translate }}</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default m-t-lg">
                <div class="panel-heading pointer collapsed" data-toggle="collapse" href="#collapseAss">
                    {{ "ELENCO_ISCRIZIONI_ALLE_ASSOCIAZIONI_DI_CATEGORIA" | translate}}
                    <div class="panel-toolbox">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div id="collapseAss" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped dataTables-paged">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1">Num. Posizione</th>
                                            <th class="col-md-2">Data domanda</th>
                                            <th class="col-md-2">Tipo associazione</th>
                                            <th class="col-md-2">Inizio iscrizione</th>
                                            <th class="col-md-2">Fine iscrizione</th>
                                            <th class="col-md-3">Elenco ritenute di categoria recuperate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>778767</td>
                                            <td>05/03/2011</td>
                                            <td>ANMIC</td>
                                            <td>02/04/2013</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>993423</td>
                                            <td>07/08/2012</td>
                                            <td>UICI</td>
                                            <td>07/08/2012</td>
                                            <td>07/08/2016</td>
                                            <td>
                                                <div><label>Data recupero</label> 15/03/2014</div>
                                                <div><label>Importo recuperato</label> € 12.349,00</div>
                                                <a title="note" data-toggle="popover" data-placement="top" data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">Note</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default m-t-lg">
                <div class="panel-heading pointer collapsed" data-toggle="collapse" href="#collapsePosContabili">
                    {{ "POSIZIONI_CONTABILI" | translate}}
                    <div class="panel-toolbox">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div id="collapsePosContabili" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#ElencoLiquidazioni" role="tab" data-toggle="tab">Elenco
                                    liquidazioni
                                </a></li>
                            <li role="presentation"><a href="#ElencoRiaccreditati" role="tab" data-toggle="tab">Elenco
                                    importi
                                    riaccreditati
                                </a></li>
                            <li role="presentation"><a href="#ImportiRecup" role="tab" data-toggle="tab">Elenco
                                    importi
                                    da
                                    recuperare
                                </a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="ElencoLiquidazioni">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-striped dataTables-paged">
                                            <thead class="price">
                                                <tr>
                                                    <th class="col-md-1">Data calcolo</th>
                                                    <th class="col-md-1">Liquidato</th>
                                                    <th class="col-md-1">Riaccredito</th>
                                                    <th class="col-md-1">Trattenuta di categoria</th>
                                                    <th class="col-md-2">Importo recuperato per compensazione</th>
                                                    <th class="col-md-4">Nr. trasferimento FluMo</th>
                                                    <th class="col-md-1">Tot. mese</th>
                                                    <th class="col-md-1">Tot. anno</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>01/01/2016</td>
                                                    <td>
                                                        <div>€ 864,00</div>
                                                        <a href="visualizza_liquidazione.html">Dettaglio</a>
                                                    </td>
                                                    <td>€ 864,00</td>
                                                    <td class="negative">€ 6,00</td>
                                                    <td></td>
                                                    <td>
                                                        <div><label>Nr. mandato</label> 32985432</div>
                                                        <label>Data</label> 12/07/2013
                                                    </td>
                                                    <td>€ 1.728,00</td>
                                                    <td>€ 1.728,00</td>
                                                </tr>
                                                <tr>
                                                    <td>01/02/2016</td>
                                                    <td>
                                                        <div>€ 864,00</div>
                                                        <a href="visualizza_liquidazione.html">Dettaglio</a>
                                                    </td>
                                                    <td></td>
                                                    <td class="negative">€ 6,00</td>
                                                    <td></td>
                                                    <td>
                                                        <div><label>Nr. mandato</label> 32985432</div>
                                                        <label>Data</label> 12/07/2013
                                                    </td>
                                                    <td>€ 864,00</td>
                                                    <td>€ 2.592,00</td>
                                                </tr>
                                                <tr>
                                                    <td>01/03/2016</td>
                                                    <td>
                                                        <div>€ 320,25</div>
                                                        <a href="visualizza_liquidazione.html">Dettaglio</a>
                                                    </td>
                                                    <td></td>
                                                    <td class="negative">€ 6,00</td>
                                                    <td class="negative">€ 108,75</td>
                                                    <td>
                                                        <div><label>Nr. mandato</label> 32985432</div>
                                                        <label>Data</label> 12/07/2013
                                                    </td>
                                                    <td>€ 320,25</td>
                                                    <td>€ 2.912,25</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="ElencoRiaccreditati">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-striped dataTables-paged">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-4">Data riaccredito</th>
                                                    <th class="col-md-4">Importo riaccreditato</th>
                                                    <th class="col-md-4">Data liquidazione arretrato</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>18/11/2015</td>
                                                    <td>€ 864,00</td>
                                                    <td>01/01/2016</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-12 text-right">
                                        <a type="button" class="btn btn-primary btn-sm" href="modifica_riaccredito.html">Predisponi
                                            importo riaccreditato</a>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="ImportiRecup">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-striped dataTables-paged">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-2">Data (ultima modifica)</th>
                                                    <th class="col-md-2">Tipo di recupero</th>
                                                    <th class="col-md-2">Tot. da recuperare</th>
                                                    <th class="col-md-2">Recuperato</th>
                                                    <th class="col-md-1">Restituito</th>
                                                    <th class="col-md-2">Rimanente da recuperare</th>
                                                    <th class="col-md-1"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>23/02/2016</td>
                                                    <td>compensazione</td>
                                                    <td>
                                                        <div><label>Capitale</label> € 435,00</div>
                                                        <div><label>Interessi legali</label> € 8,7</div>
                                                        <label>Interessi di rateizzazione</label> € 4,35
                                                    </td>
                                                    <td>
                                                        <div>€ 108,75</div>
                                                        <a data-toggle="modal" data-target="#modalImportiRecuperati">Dettaglio</a>
                                                    </td>
                                                    <td></td>
                                                    <td>€ 339,30</td>
                                                    <td>
                                                        <a title="note" data-toggle="popover" data-placement="top"
                                                            data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">Note</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-12 text-right">
                                        <a type="button" class="btn btn-primary btn-sm" href="modifica_importo_da_recuperare.html">Predisponi
                                            importo da recuperare</a>
                                        <a type="button" class="btn btn-primary btn-sm" href="modifica_restituito.html">Predisponi
                                            importo restituito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default m-t-lg">
                <div class="panel-heading pointer collapsed" data-toggle="collapse" href="#collapseEvidenze">
                    {{ "ELENCO_EVIDENZE" | translate}}
                    <div class="panel-toolbox">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div id="collapseEvidenze" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <!-- <%- partial("_elenco_evidenze") %> -->
                                <div ng-include="'views/partials/_elenco_evidenze.html'"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default m-t-lg">
                <div class="panel-heading pointer collapsed" data-toggle="collapse" href="#collapsePosEspro">
                    {{ "POSIZIONE_ESPRO" | translate}}
                    <div class="panel-toolbox">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div id="collapsePosEspro" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-3">Decorrenza assegno di cura</th>
                                    <th class="col-md-3">Termine decorrenza assegno di cura</th>
                                    <th class="col-md-3">Decorrenza permanenza casa di lungodegenza</th>
                                    <th class="col-md-3">Termine permanenza casa di lungodegenza</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>21/01/2016</td>
                                    <td>21/02/2016</td>
                                    <td>21/03/2016</td>
                                    <td>21/04/2016</td>
                                </tr>
                                <tr>
                                    <td>21/01/2016</td>
                                    <td>21/02/2016</td>
                                    <td>21/03/2016</td>
                                    <td>21/04/2016</td>
                                </tr>
                                <tr>
                                    <td>21/01/2016</td>
                                    <td>21/02/2016</td>
                                    <td>21/03/2016</td>
                                    <td>21/04/2016</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal inmodal" id="modalImportiRecuperati">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Dettaglio importi recuperati</h4>
            </div>
            <div class="modal-body">
                <h3 class="m-t-md">Elenco importi recuperati per compensazione</h3>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-3">Data</th>
                            <th class="col-md-3">Importo recuperato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01/03/2016</td>
                            <td>€ 108,75</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12 form-separator"></div>
                </div>
                <h3 class="m-t-lg">Elenco importi restituiti</h3>
                <h4 class="warning">Nessun importo restituito</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modalDocumentiPerFascicolo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Documenti per fascicolo</h4>
            </div>
            <div class="modal-body">
                <!-- <%- partial("_elenco_documenti") %> -->
                <div ng-include="'views/partials/_elenco_documenti.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modalAnagrafica" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-search"></i> {{ 'RICERCA_DATI_ANAGRAFICI' | translate }}</h4>
                <small class="font-bold">Inserisci i dati e avvia la ricerca</small>
            </div>
            <div class="modal-body">
                <%- partial("_ricerca_anagrafica", { url: "modifica_erede.html"}) %>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" data-dismiss="modal">{{ 'INSERISCI_NUOVA_ANAGRAFICA' |
                    translate
                    }}
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>

<script>

    $('#tabellaRedditi').DataTable({ searching: true, responsive: true, lengthChange: false });

</script>