<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Visualizza dati anagrafici associazione</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li>
                <a href="ricerca_associazione.html">Ricerca associazione</a>
            </li>
            <li class="active">
                <strong>Associazione 771723</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" >
                    <h5> Dati generali </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4 form-group"><label>Nome associazione</label> <input type="text" readonly class="form-control" value="Cral"></div>
                        <div class="col-md-4 form-group"><label>Codice fiscale</label> <input type="text" readonly class="form-control" value="RSSMRA70A41F2052"></div>
                        <div class="col-md-4 form-group">
                            <label>
                                Tipologia di assistenza
                            </label>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="checkbox"><label> <input icheck   type="radio" disabled='disabled' name="a"> <i></i> 77 </label></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox"><label> <input icheck   type="radio" checked disabled='disabled' name="b"> <i></i> 88 </label></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox"><label> <input icheck   type="radio" disabled='disabled' name="c"> <i></i> 99 </label></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 form-group"><label>Responsabile</label> <input type="text" readonly class="form-control" value="Mario Rossi"></div>
                        <div class="col-md-4 form-group"><label>Telefono principale</label> <input type="text" readonly class="form-control" value="0461 912585"></div>
                        <div class="col-md-4 form-group"><label>Telefono secondario</label> <input type="text" readonly class="form-control" value="0461 923452"></div>
                        <div class="col-md-4 form-group"><label>IBAN</label> <input type="text" readonly class="form-control" value="IT40 S054 2811 1010 0000 0123 456"></div>
                        <div class="col-md-4 form-group"><label>Email</label> <input type="text" readonly class="form-control" value="mrossi@gmail.com"></div>
                        <div class="col-md-4 form-group"><label>PEC</label> <input type="text" readonly class="form-control" value="mrossi@gmail.com"></div>
                        <div class="col-md-12 form-group"><label>Note</label> <textarea readonly class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius purus tellus, ac auctor nibh dictum consequat</textarea></div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title" >
                    <h5> Elenco indirizzi </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12"><label>Sede principale</label></div>
                        <div class="col-md-12"><span>Via Gian Domenico Tomagnosi, 32</span></div>
                        <div class="col-md-12"><span>38122</span></div>
                        <div class="col-md-12"><span>Trento</span></div>
                        <div class="col-md-12 m-t-md"><label>Altro indirizzo</label></div>
                        <div class="col-md-12"><span>Piazza Duomo, 25</span></div>
                        <div class="col-md-12"><span>38122</span></div>
                        <div class="col-md-12"><span>Trento</span></div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title" >
                    <h5> Altri dati </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4 form-group"><label>Importo ritenuta di categoria (quota mensile)</label> <input type="text" readonly class="form-control" value="€ 3,50"></div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title" >
                    <h5> Elenco ritenute sulle liquidazioni mensili </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <table class="table table-bordered table-striped dataTables-paged">
                        <thead>
                            <tr>
                                <th class="col-md-4">Data</th>
                                <th class="col-md-4">Importo totale ritenuta di categoria</th>
                                <th class="col-md-4">Numero di assistiti paganti</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12/04/2014</td>
                                <td>€ 238,00</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>12/05/2014</td>
                                <td>€ 568,00</td>
                                <td>48</td>
                            </tr>
                            <tr>
                                <td>12/06/2014</td>
                                <td>€ 210,00</td>
                                <td>12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
