<div class="row wrapper border-bottom white-bg page-heading">

    <header-component tipo="'Dettaglio'" titolo="'VISUALIZZA_POSIZIONE'" paths="[{href:'index.html',descrizione:'HOME'}, {href:'ricerca_posizione.html',descrizione:'RICERCA_POSIZIONE'}]"
        active="Posizione xxxxx771723"></header-component>

    <div class="col-lg-2">
    </div>

</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <!-- DATI-ASSISTITO -->
            <dati-assistito-component dati-assistito="datiAssistito"></dati-assistito-component>

            <!-- DATI-ANAGRAFICI-ASSISTITO -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> Dati anagrafici dell'assistito </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content" style="display:none;">

                    <div ng-include="'views/partials/_dati_anagrafici_assistito.html'"></div>

                    <div class="row m-t-sm">
                        <div class="col-md-12">
                            <div class="button-bar text-right">
                                <a ui-sref="anagrafica.visualizza_anagrafica({datiAssistito: $ctrl.datiAssistito})"" class="
                                    btn btn-sm btn-primary">Visualizza
                                    dati anagrafici</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DOMANDE -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> Elenco domande </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div ng-include="'views/partials/_elenco_domande.html'"></div>
                </div>
            </div>
            <!-- EVIDENZE -->
            <div class="ibox float-e-margins" id="evidenze_top">
                <div class="ibox-title">
                    <h5> Elenco Evidenze </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down" id="icon_evidenze"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content" style="display:none;" id="evidenze">
                    <evidenze-component></evidenze-component>
                </div>
            </div>
            <!-- DOCUMENTAZIONE -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> Elenco documentazione </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content" style="display:none;">
                    <documenti-component></documenti-component>
                </div>
            </div>
            <!-- STORICO DECRETI -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> Storico decreti </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content" style="display:none;">
                    <div ng-include="'views/partials/_storico_decreti.html'"></div>

                </div>
            </div>
            <!-- LIQUIDAZIONI -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> Liquidazioni antecedenti IN-CI-SO </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content" style="display:none;">
                    <div ng-include="'views/partials/_liquidazioni_antecedenti.html'"></div>

                </div>
            </div>
            <!-- PULSANTI -->
            <div class="m-t-md">
                <div class="button-bar text-right">
                    <!-- indietro -->
                    <button ng-click="indietro()" class="btn btn-sm btn-white">Indietro</button>
                    <!-- elimina posizione -->
                    <button ng-click="cancellaPosizione()" class="btn btn-sm btn-warning">Elimina posizione</button>
                    <!-- elimina genera comunicazione -->
                    <a class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#chiediConfermaComunicazione">Genera
                        comunicazione</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="chiediConfermaComunicazione" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Genera nuova comunicazione</h4>
            </div>
            <div class="modal-body">
                <p>Se desideri associare la comunicazione ad una evidenza clicca su <strong>Seleziona evidenza</strong>.<br>
                    Se desideri creare una nuova comunicazione senza evidenza clicca su <strong>Genera comunicazione</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Seleziona evidenza</button>
                <a type="button" href="genera_comunicazione.html" class="btn btn-primary">Genera comunicazione</a>
            </div>
        </div>
    </div>
</div>
<script>































































































































































































































































































































































































































































































































</script>

<script>
    // Custom scripts
    $(document).ready(function () {

        $('.ibox-title').click(function () {
            var cl = $(this).find('.collapse-link');
            var ibox = cl.closest('div.ibox');
            var button = cl.find('i');
            var content = ibox.find('div.ibox-content');
            content.slideToggle(200);
            button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
            ibox.toggleClass('').toggleClass('border-bottom');
            setTimeout(function () {
                ibox.resize();
                ibox.find('[id^=map-]').resize();
            }, 50);
        });

        $('#chiediConfermaComunicazione').on('hidden.bs.modal', function (e) {
            $('#evidenze').show()
            $('#icon_evidenze').removeClass('fa-chevron-down');
            $('#icon_evidenze').addClass('fa-chevron-up');
            window.location = '#evidenze_top';
        });



    });

</script>