<table class="table table-striped table-bordered third-table">
    <thead>
        <tr>
            <th>{{'MESE' | translate}}</th>
            <th>{{'IMPORTO_MENSILE_SPETTANTE_GIA_LIQUIDATO' | translate}} </th>
            <th>{{'IMPORTO_MENSILE_CONGUAGLIO' | translate}}</th>
            <th>{{'NUOVO_IMPORTO_MENSILE_TREDICESIMA_MATURATA' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='item in dettagli'>
            <td>{{ item.Mese }}</td>
            <td class="text-right"> {{ item.ImportoMensileSpettanteGiaLiquidato | currency }} </td>
            <td class="text-right"> {{ item.ImportMensileConguaglio | currency }} </td>
            <td class="text-right"> {{ item.NuovoImportoMensileTredicesimaMaturata | currency }} </td>
        </tr>
    </tbody>
</table>