<div class="row">
    <div class="col-md-12">
        <div ng-switch="$ctrl.statoDomanda" class="checkbox">
            <h3 ng-switch-when="Revocata"> <i class="fa fa-circle-o text-warning" aria-hidden="true"></i>
                {{ 'REVOCATA' |translate }}
            </h3>
            <h3 ng-switch-when="Inserita"> <i class="fa fa-circle-o text-warning" aria-hidden="true"></i>
                {{ 'INSERITA' |translate }}
            </h3>
            <h3 ng-switch-when="Concessa"> <i class="fa fa-check text-navy" aria-hidden="true"></i>
                {{ 'CONCESSA' |translate }}
            </h3>
            <h3 ng-switch-when="Negata"> <i class="fa fa-times text-danger" aria-hidden="true"></i>
                {{ 'NEGATA' |translate }}
            </h3>

            <h3 ng-switch-when="Sospesa"> <i class="fa fa-circle-o text-warning" aria-hidden="true"></i>
                {{ 'SOSPESA' |translate }}
            </h3>
            <h3 ng-switch-when="Cancellata"> <i class="fa fa-times text-warning" aria-hidden="true"></i>
                {{ 'CANCELLATA' |translate }}
            </h3>
            <h3 ng-switch-default> <i class="fa fa-times text-danger" aria-hidden="true"></i>
                Errore : stato domanda non definito
            </h3>
        </div>


    </div>
</div>
<div class="row">
    <div ng-switch="$ctrl.statoDomanda" class="col-md-4 form-group">
        <label ng-switch-when="Revocata">{{ 'DATA_REVOCA' |translate }}</label>
        <label ng-switch-when="Inserita">{{ 'DATA_INSERIMENTO' |translate }}</label>
        <label ng-switch-when="Concessa">{{ 'DATA_CONCESSIONE' |translate }}</label>
        <label ng-switch-when="Negata">{{ 'DATA_NEGAZIONE' |translate }}</label>
        <label ng-switch-when="Sospesa">{{ 'DATA_SOSPENSIONE' |translate }}</label>
        <label ng-switch-when="Cancellata">{{ 'DATA_CANCELLAZIONE' |translate }}</label>
        <label ng-switch-default>{{ 'DATA' |translate }}</label>
        <input type="text" readonly class="form-control" value="01/01/2020">
    </div>
    <div ng-switch="$ctrl.statoDomanda" class="col-md-4 form-group">
        <label ng-switch-when="Revocata">{{ 'MOTIVO_REVOCA' |translate }}</label>
        <label ng-switch-when="Inserita">{{ 'MOTIVO_INSERIMENTO' |translate }}</label>
        <label ng-switch-when="Concessa">{{ 'MOTIVO_CONCESSIONE' |translate }}</label>
        <label ng-switch-when="Negata">{{ 'MOTIVO_NEGAZIONE' |translate }}</label>
        <label ng-switch-when="Sospesa">{{ 'MOTIVO_SOSPENSIONE' |translate }}</label>
        <label ng-switch-when="Cancellata">{{ 'MOTIVO_CANCELLAZIONE' |translate }}</label>
        <label ng-switch-default>{{ 'MOTIVO' |translate }}</label>
        <input type="text" readonly class="form-control" value="Lorem ipsum dolor sit amet">
    </div>
    <div ng-switch="$ctrl.statoDomanda" class="col-md-4 form-group">
        <label ng-switch-when="Revocata">{{ 'IMPORTO_DA_RECUPERARE' |translate }}</label>
        <label ng-switch-when="Inserita">{{ 'IMPORTO_RICHIESTO' |translate }}</label>
        <label ng-switch-when="Concessa">{{ 'IMPORTO_DA_PAGARE' |translate }}</label>
        <label ng-switch-when="Negata">{{ 'IMPORTO_NEGATO' |translate }}</label>
        <label ng-switch-when="Sospesa">{{ 'IMPORTO_SOSPESO' |translate }}</label>
        <label ng-switch-when="Cancellata">{{ 'IMPORTO_CANCELLATO' |translate }}</label>
        <label ng-switch-default>{{ 'IMPORTO' |translate }}</label>
        <input type="text" readonly class="form-control" value="549,00 €">
    </div>
</div>