<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <ul class="nav metismenu" id="inciso-menu">
                <li class="nav-header">

                    <div class="profile-element" uib-dropdown>
                        <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                        <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Camillo Alfano</strong>
                                </span>
                                <span class="text-muted text-xs block">Programmatore <b class="caret"></b></span>
                            </span>
                        </a>
                        <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                            <li><a ui-sref="app.profile">{{'PROFILO' | translate }}</a></li>
                            <li><a ui-sref="app.contacts">{{'CONTATTI' | translate }}</a></li>
                            <li><a ui-sref="mailbox.inbox">{{'MAIL' | translate }}</a></li>
                            <li class="divider"></li>
                            <li><a ui-sref="login">{{'LOGOUT' | translate }}</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <!-- domanda---------------------------------------- -->
                <li class="expandable" ng-class="{'selected': menuStato == 'domanda'}" ng-click="menuStato = 'domanda'">
                    <a ng-mouseover="showPopover1=true;" ng-mouseleave="showPopover1=false;" ui-sref="domande.nuova_domanda"
                        ng-click="inizializzaDomanda()">
                        <i class="fa fa-file-text"></i>
                        <span class="nav-label">{{ 'NUOVA_DOMANDA' | translate }}</span>
                        <div class="show-fumetti" ng-show="fumetti() && showPopover1">{{ 'NUOVA_DOMANDA' |
                            translate }}</div>
                    </a>
                    <ul class="nav nav-second-level">
                    </ul>
                </li>
                <!-- posizione---------------------------------------- -->
                <li class="expandable" ng-class="{'selected': menuStato == 'posizione'}" ng-click="menuStato = 'posizione'">
                    <a href="#" ng-mouseover="showPopover2=true;" ng-mouseleave="showPopover2=false;">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="nav-label">{{ 'POSIZIONE' | translate }}</span>
                        <div class="show-fumetti" ng-show="fumetti() && showPopover2">{{ 'POSIZIONE' | translate }}</div>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a ui-sref="posizione.ricerca_anagrafica">{{ 'RICERCA_POSIZIONE' | translate }}</a></li>
                    </ul>
                </li>
                <!-- anagrafica---------------------------------------- -->
                <li class="expandable" ng-class="{'selected': menuStato == 'anagrafica'}" ng-click="menuStato = 'anagrafica'">
                    <a href="#" ng-mouseover="showPopover3=true;" ng-mouseleave="showPopover3=false;">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="nav-label">{{ 'ANAGRAFICA' | translate }}</span>
                        <div class="show-fumetti" ng-show="fumetti() && showPopover3">{{ 'ANAGRAFICA' | translate
                            }}</div>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li ui-sref-active="active">
                            <a ui-sref="anagrafica.ricerca_anagrafica">{{ 'RICERCA_ANAGRAFICA' | translate }}</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="anagrafica.inserimento_anagrafica">{{ 'NUOVA_ANAGRAFICA' | translate }}</a>
                        </li>
                    </ul>
                </li>
                <!-- liquidazione---------------------------------------- -->
                <li class="expandable" ng-class="{'selected': menuStato == 'liquidazione'}" ng-click="menuStato = 'liquidazione'">
                    <!-- voce principale menu liquidazione-->
                    <a href="#" ng-mouseover="showPopover4=true;" ng-mouseleave="showPopover4=false;">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <span class="nav-label">{{ 'LIQUIDAZIONE' | translate }}</span>
                        <div class="show-fumetti" ng-show="fumetti() && showPopover4">{{ 'LIQUIDAZIONE' | translate
                            }}</div>
                        <span class="fa arrow"></span>
                    </a>

                    <!-- voci secondarie menu liquidazione-->
                    <ul class="nav nav-second-level collapse">
                        <li ui-sref-active="active">
                            <a ui-sref="liquidazioni.ricerca_liquidazione">
                                {{'RICERCA_LIQUIDAZIONE' | translate }}
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="liquidazioni.elabora_liquidazione_mensile">
                                {{'ELABORA_LIQUIDAZIONE_MENSILE' | translate }}
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="liquidazioni.elabora_conguaglio">
                                {{ 'ELABORA_CONGUAGLIO' | translate }}
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="liquidazioni.elabora_liquidazione_eredi">
                                {{ 'ELABORA_LIQUIDAZIONE_EREDI' | translate }}
                            </a>
                        </li>
                    </ul>

                </li>
                <!-- evidenze---------------------------------------- -->
                <li class="expandable" ng-class="{'selected': menuStato == 'evidenze'}" ng-click="menuStato = 'evidenze'">
                    <a href="#" ng-mouseover="showPopover5=true;" ng-mouseleave="showPopover5=false;">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        <span class="nav-label">{{'EVIDENZE' | translate }}</span>
                        <div class="show-fumetti" ng-show="fumetti() && showPopover5">{{ 'EVIDENZE' | translate }}</div>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li ui-sref-active="active">
                            <a ui-sref="evidenze.ricerca_evidenza">{{ 'RICERCA_EVIDENZA' | translate }}</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="evidenze.nuova_evidenza">{{ 'NUOVA_EVIDENZA' | translate }}</a>
                        </li>
                    </ul>
                </li>
                <!-- documenti---------------------------------------- -->
                <li class="expandable" ng-class="{'selected': menuStato == 'documenti'}" ng-click="menuStato = 'documenti'">
                    <a href="#" ng-mouseover="showPopover6=true;" ng-mouseleave="showPopover6=false;">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <span class="nav-label">{{ 'DOCUMENTI' | translate }}</span>
                        <div class="show-fumetti" ng-show="fumetti() && showPopover6">{{ 'DOCUMENTI' | translate }}</div>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li ui-sref-active="active">
                            <a ui-sref="documenti.ricerca_documenti">{{ 'RICERCA_DOCUMENTI' | translate }}</a>
                        </li>
                    </ul>
                </li>
                <!-- genera comunicazione---------------------------------------- -->
                <li class="expandable" ng-class="{'selected': menuStato == 'comunicazioni'}" ng-click="menuStato = 'comunicazioni'">
                    <a href="#" ng-mouseover="showPopover7=true;" ng-mouseleave="showPopover7=false;" ui-sref="comunicazione.genera_comunicazione">
                        <i class="fa fa-envelope"></i>
                        <span class="nav-label">{{'GENERA_COMUNICAZIONE' | translate }}</span>
                        <div class="show-fumetti" ng-show="fumetti() && showPopover7">{{ 'GENERA_COMUNICAZIONE' |
                            translate
                            }}</div>
                    </a>
                    <ul class="nav nav-second-level">
                    </ul>

                </li>
                <!-- associazioni---------------------------------------- -->
                <li class="expandable" ng-class="{'selected': menuStato == 'associazioni'}" ng-click="menuStato = 'associazioni'">
                    <a href="#" ng-mouseover="showPopover8=true;" ng-mouseleave="showPopover8=false;">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="nav-label">{{ 'ASSOCIAZIONI' | translate }}</span>
                        <div class="show-fumetti" ng-show="fumetti() && showPopover8">{{ 'ASSOCIAZIONI' | translate
                            }}</div>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li ui-sref-active="active">
                            <a ui-sref="associazioni.ricerca_associazione">{{
                                'RICERCA_ASSOCIAZIONE'
                                | translate }}
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="associazioni.inserimento_associazione">{{ 'NUOVA_ASSOCIAZIONE' |
                                translate
                                }}
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- procedure---------------------------------------- -->

                <li class="expandable" ng-class="{'selected': menuStato == 'procedure'}" ng-click="menuStato = 'procedure'">
                    <a href="#" ng-mouseover="showPopover9=true;" ng-mouseleave="showPopover9=false;">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                        <span class="nav-label">{{ 'PROCEDURE' | translate }}</span>
                        <div class="show-fumetti" ng-show="fumetti() && showPopover9">{{ 'PROCEDURE' | translate }}</div>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li class="">
                            <a href="#">{{ 'PROCEDURA_CONTROLLO_6' | translate }}</a>
                        </li>
                        <li class="">
                            <a href="#">{{ 'PROCEDURA_INVIO_CASELLARIO' | translate }}</a>
                        </li>
                        <li class="">
                            <a href="#">{{ 'PROCEDURA_DI_SCARTO' | translate }}</a>
                        </li>
                    </ul>
                </li>

                <!-- amministrazione---------------------------------------- -->

                <li class="expandable" ng-class="{'selected': menuStato == 'amministrazione'}" ng-click="menuStato = 'amministrazione'">
                    <a href="#" ng-mouseover="showPopover10=true;" ng-mouseleave="showPopover10=false;">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="nav-label">{{ 'AMMINISTRAZIONE' | translate }}</span>
                        <div class="show-fumetti" ng-show="fumetti() && showPopover10">{{ 'PROCEDURE' | translate }}</div>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li class="">
                            <a href="#">{{ 'CONFIGURAZIONE_REGOLE_VS_PRESTAZIONI' | translate }}</a>
                        </li>
                    </ul>
                </li>

                <!-- setting---------------------------------------- -->

                <li class="expandable" ng-class="{'selected': menuStato == 'setting'}" ng-click="menuStato = 'setting'">
                    <a ng-mouseover="showPopover11=true;" ng-mouseleave="showPopover11=false;" ui-sref="settings.setting">
                        <i class="fa fa-file-text"></i>
                        <span class="nav-label">{{ 'SETTING' | translate }}</span>
                        <div class="show-fumetti" ng-show="fumetti() && showPopover11">{{ 'SETTING' |
                            translate }}</div>
                    </a>
                    <ul class="nav nav-second-level">
                    </ul>
                </li>





            </ul>

        </div>
    </nav>
</div>


<script>

    $(function () {
        $('#inciso-menu').metisMenu({
            toggle: false // disabilita auto collapse. Default: true.
        });
    });

</script>