<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'GESTIONE_VERBALI' | translate }}</h4>
        <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.modalSave('Verbale salvato!','Il verbale è stato correttamente salvato.')">{{
            'SALVA' | translate }}</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.modalClose()">{{ 'CHIUDI' | translate }}</button>
    </div>
</div>