<div>
    <!-- <table class="table table-bordered dataTables-filtered2 checkboxtable" id="evidenzeTable"> -->
    <table datatable="ng" dt-column-defs="$ctrl.colonneTabElencoEvidenze" dt-options="$ctrl.dtOptionsTabElencoEvidenze"
        class="table table-bordered dataTables-filtered2 checkboxtable" id="evidenzeTable">

        <thead>
            <tr>
                <th>{{'DECORRENZA' | translate}}</th>
                <th>{{'SCADENZA' | translate}}</th>
                <th>{{'TIPO' | translate}}</th>
                <!-- ---- -->
                <th>{{'DESCRIZIONE' | translate}}</th>
                <th>{{'POSIZIONE' | translate}}</th>
                <th>{{'PRESTAZIONE' | translate}}</th>
                <!-- ---- -->
                <th>{{'CHIUSURA' | translate}}</th>
                <th>{{'NOTE' | translate}}</th>
                <th></th>
                <!-- ---- -->
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $ctrl.elencoEvidenze | filter:$ctrl.search">

                <td style="width:9%">{{item.Decorrenza}}</td>
                <td style="width:9%">
                    <span class="label-warning">{{item.Scadenza}}</span>
                </td>
                <td style="width:15%">{{item.Tipo}}</td>
                <!-- ---- -->
                <td style="width:20%">{{item.Descrizione}}</td>
                <td style="width:9%">{{item.Posizione}}</td>
                <td style="width:9%">{{item.Prestazione}}</td>
                <!-- ---- -->
                <td ng-if="!item.Chiusura" style="width:9%">-</td>
                <td ng-if="item.Chiusura" style="width:9%">
                    <div>
                        <div><strong>Utente: </strong><span>{{item.Chiusura.Utente}}</span></div>
                        <div><strong>Note di chiusura: </strong><span>{{item.Chiusura.NoteDiChiusura}}</span></div>
                        <div><strong>Lettera inviata: </strong><span>{{item.Chiusura.LetteraInviata}}</span></div>
                    </div>
                </td>
                <td style="width:9%">
                    <a ng-class="{anchorDisabled : visDatiAssistito}" title="note" data-toggle="popover" data-placement="top"
                        data-content="{{item.Note}}">Note</a>
                </td>
                <td class="toolbox-row" style="width:7%">
                    <a ng-class="{anchorDisabled : visDatiAssistito}" title="visualizza">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a ng-class="{anchorDisabled : visDatiAssistito}" title="elimina">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
                <!-- ---- -->
                <td class="text-center">
                    <div class="checkbox"><input icheck ng-disabled="visDatiAssistito" ng-model="xxx" type="checkbox">
                        <i></i></div>
                </td>
            </tr>
        </tbody>
        <tfoot ng-if="$ctrl.tipo == 'FiltroRicerca'">
            <tr class="row-filter">

                <th><input type="text" ng-model="$ctrl.search.Decorrenza" class="text_filter column-filter search_init"
                        placeholder="Cerca" /></th>
                <th><input type="text" ng-model="$ctrl.search.Scadenza" class="text_filter column-filter search_init"
                        placeholder="Cerca" /></th>
                <th><input type="text" ng-model="$ctrl.search.Tipo" class="text_filter column-filter search_init"
                        placeholder="Cerca" /></th>
                <!-- ---- -->
                <th><input type="text" ng-model="$ctrl.search.Descrizione" class="text_filter column-filter search_init"
                        placeholder="Cerca" /></th>
                <th><input type="text" ng-model="$ctrl.search.Posizione" class="text_filter column-filter search_init"
                        placeholder="Cerca" /></th>
                <th><input type="text" ng-model="$ctrl.search.Prestazione" class="text_filter column-filter search_init"
                        placeholder="Cerca" /></th>
                <!-- ---- -->
                <th><input type="text" ng-model="$ctrl.search.Chiusura" class="text_filter column-filter search_init"
                        placeholder="Cerca" /></th>
                <th><input type="text" ng-model="$ctrl.search.Note" class="text_filter column-filter search_init"
                        placeholder="Cerca" /></th>
                <th class="no-filter"></th>
                <!-- ---- -->
                <th class="no-filter"></th>
            </tr>
        </tfoot>
    </table>

</div>
<div class="text-right">
    <a href="genera_comunicazione.html" id="genera" class="btn btn-sm btn-primary" disabled>{{ 'GENERA_COMUNICAZIONE' | translate }}</a>
    <button class="btn btn-sm btn-primary" ng-disabled="visDatiAssistito">{{ 'INSERISCI_NUOVA_EVIDENZA' | translate }}</button>
</div>

<script>

    $('#posSearch').click(function () {
        $("#posResults").show();
    });

    $('#posRun').click(function () {
        $("#filters").hide();
        $("#posResults").hide();
        $("#conguaglioDone").show();
    });

    $(document).ready(function () {
        // Array holding selected row IDs
        // var rows_selected = [];
        // var table = $('#evidenzeTable').DataTable({
        //     'columnDefs': [{
        //         'targets': 9,
        //         'searchable': false,
        //         'orderable': false,
        //         'width': '1%',
        //         'className': 'dt-body-center',
        //     },
        //     {
        //         'targets': 8,
        //         'searchable': false,
        //         'orderable': false,
        //     }],
        //     'searching': true,
        //     'responsive': true,
        //     'lengthChange': false,
        //     'retrieve': true,
        //     'order': [[2, 'asc']],
        //     'rowCallback': function (row, data, dataIndex) {
        //         // Get row ID
        //         var rowId = data[0];

        //         // If row ID is in the list of selected row IDs
        //         if ($.inArray(rowId, rows_selected) !== -1) {
        //             $(row).find('input[type="checkbox"]').prop('checked', true);
        //             $(row).addClass('selected');
        //         }
        //     }
        // });

        /* Filtro per colonna */
        // $('#evidenzeTable tfoot th').each(function () {
        //     var title = $(this).text();
        //     if (!$(this).hasClass("no-filter")) {
        //         $(this).html('<input type="text" class="column-filter" placeholder="Cerca ' + title + '" />');
        //     }
        // });

        // setTimeout(function () {
        //     $('#evidenzeTable :input').addClass('column-filter');
        //     // x prova
        //     // $(":input").css("background-color", "red");

        // }, 1000);

        // if (table.columns().length > 0) {
        //     // Apply the search
        //     table.columns().eq(0).each(function (index) {
        //         var that = table.column(index);

        //         $('input', that.footer()).on('keyup change', function () {
        //             if (that.search() !== this.value) {
        //                 that
        //                     .search(this.value)
        //                     .draw();
        //             }
        //         });
        //     });
        // }
        /* END Filtro per colonna */
        // $('#evidenzeTable .checkbox').on('ifChecked', function (event) {
        //     $("#genera").removeAttr("disabled");
        // });

        // $('#evidenzeTable .checkbox').on('ifUnchecked', function (event) {
        //     $("#genera").attr('disabled', 'disabled');
        // });


    });

</script>